@import "styles/utils/var";

.container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #1C232B;
  z-index: 1000;
  padding: 15px 2%;
  height: 10vh;
  box-shadow: 2px 1px 10px 3px rgba(28, 35, 43, 0.38);
  width: 100%;
}


.titleContainer{
  display: flex;
  align-items: center;
  white-space: pre;
  img{
object-fit: cover;
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }

  .like{
    -webkit-text-stroke-width: 0.1px;
  }
  div{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
.titleBook{
  &:first-letter{
    text-transform: uppercase;
  }
  color: $white;
  font-family: $primaryFont;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 12px;
}
    p{
font-size: 11px;
      font-family: $primaryFont;
      color: $white;
      span{
        cursor: pointer;
        color: rgba(234, 235, 238, 0.92);
      }
    }
  }
}

.likeContainer{
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.likeContainerPhone{

  display: flex;
  justify-content: center;
  align-items: center;

}

.likeContainerWithNav{
  gap: 30px;


  .navDiv{
    &:active{
      transform: scale(0.8);
      transition: 0.2s;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    svg{
      color: white;
      width: 18px;
    }
    p{
      color: white;
      font-size: 11px;
      font-family: $primaryFont;
      letter-spacing: 0.2px;
    }
  }
}

.commentAndListContainer{
display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .b{
    &:active{
      transform: scale(0.8);
      transition: 0.2s;
    }
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg{
    width: 20px;
    color: $grey;
    margin-bottom: 5px;

  }
  p{
    color: $grey;
    font-size: 10px;
    font-family: $primaryFont;
  }
}

.hidden{
  visibility: hidden!important;
}

.containerPhone{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  padding: 15px 2%;
  height: auto;
  width: 100%;
  gap: 10px;


  .commentAndListContainerPhone{
    &:active{
      transform: scale(0.8);
      transition: all 0.1s ease-in-out;
    }
    transition: all 0.1s ease-in-out;
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    background-color: rgb(38, 43, 51);
    padding: 5px 20px;
    border-radius: 25px;
    div{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
    svg{
      width: 20px;
      color: $grey;
    }
    p{
      font-weight: bold;
      color: $grey;
      font-size: 9px;
      font-family: $primaryFont;
    }
  }

}




@media screen and (max-width: 1000px){
  .navDiv{
    display: none!important;
  }
}

@media screen and (max-width: 800px){
  .commentAndListContainer{
    gap: 20px;
    div{
      margin: 0;
    }
  }

  .titleContainer{
    h7{
      font-size: 10px!important;
    }
  }
}

@media screen and (max-height: 600px) and (max-width: 1300px) {
  .container{
    display: none;
  }
}


@media screen and (max-height: 700px){
  .container{
    height: 75px!important;
  }

  .commentAndListContainer{
    display: none!important;
  }
}

@media  screen and (max-width: 600px) {
  .container{
    display: none;
  }
}