@import "styles/utils/var";

.container{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #1C232B;
  padding: 10px 2%;
  width: 100%;
  height: 10vh;
}


.titleContainer{

  display: flex;
  align-items: center;
  white-space: pre;
  img{
object-fit: cover;
    width: 70px;
    border-radius: 10px;
    height: 50px;
  }
  div{
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
h7{
  &:first-letter{
    text-transform: uppercase;
  }
  color: $white;
  font-family: "Potta One",sans-serif;
  font-size: 13px;
}
    p{
font-size: 11px;
      font-family: "Montserrat";
      color: $white;
    }
  }
}

.likeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.commentAndListContainer{
display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;


  div{
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  svg{
    width: 40px;
    height: 25px;
    color: $grey;
    margin-bottom: 5px;

  }
  p{
    color: $grey;
    font-size: 9px;
    font-family: "Montserrat Alternates",sans-serif;
  }
}