@import "styles/utils/var";

.container{

  cursor: pointer;
  display: flex;
  width: 590px;
  height: 245px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: $shadow;
  border: solid 1px $border;
  background-color: white;
  border-radius: 10px;
  z-index: 212!important;
  position: relative;
  .imgContainer{
    width: 185px;
    height: 100%;
    padding: 15px;
    img{
      box-shadow: $shadow;
border-radius: 10px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .sThumbnail{
    position: absolute;
    right: 4%;
    opacity: 0.06;
    font-size: 4vh;
    top: 0%;
    font-family: 'Branch',sans-serif;


  }


  .thumbnail{
    position: absolute;
    top: -4%;
    right: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #e94f37;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-left: 5px;
    letter-spacing: 1px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
    p{
      color: white;
      font-size: 12px;
    }
    svg{
      width: 14px;
      color: white;
      margin-left: 2px;
    }
  }

  .contentContainer{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;

    h6{
      &:first-letter{
        text-transform: uppercase;
      }
      font-size: 18px;
      font-family: "Rebond Grotesque",sans-serif;
      -webkit-text-stroke-width: 1px;
      text-transform: capitalize;
      color: #1C232B;
    }

    .header{

      p{
        &:first-letter{
          text-transform: uppercase;
        }
        font-size: 12px;
        color: #54595F;
        font-family: "Rebond Grotesque",sans-serif;

        .category{

          font-weight: bold;
          color: $purpleLight;
        }
        .author{
          font-weight: bold;
        }

        .nbChapter{
        }
      }
      margin-bottom: 20px;
    }

    .description{
      min-height: 100px;
      padding-right: 35px;
      p{
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        display: -webkit-box;
        font-style: italic;
        -webkit-box-orient: vertical;
        font-size: 11px;
        color: rgba(28, 35, 43, 0.87);
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}


.containerPhone{
  &:after{
    content: attr(data-after);
    position: absolute;
    bottom: 50%;
    right: 5%;
    opacity: 0.06;
    font-size: 4vh;
    font-family: 'Branch',sans-serif;
  }

  margin: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 6% 5%;

  .likeThumbnailPhone{
    position: absolute;
    right: 3%;
    top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 10px;
    gap: 5px;
p{
  -webkit-text-stroke-width: 1px;
  letter-spacing: 1px;
  font-family: 'Branch',sans-serif!important;
  font-weight: bold!important;
  color: rgba(28, 35, 43, 0.76) !important;
  font-size: 12px!important;
}
    svg{
      margin-top: 1px;
      width: 14px;
      color: #9844AD;
    }

  }
  img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .headerPhone{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    p{
      font-family: 'Rebond Grotesque',sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: right;
      color: rgb(28, 35, 43);
      .author{
        color: #e94f37;
      }
    }
  }

  h6{
    &:first-letter{
      text-transform: uppercase;
    }
    font-size: 18px;
    font-family: "Rebond Grotesque", sans-serif;
    -webkit-text-stroke-width: 1px;
    color: #1C232B;
    margin-top: 30px;
  }
.catphone{
  &:first-letter{
    text-transform: uppercase;
  }
}
  .descriptionPhone{
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    font-style: italic;
    -webkit-box-orient: vertical;
    white-space: initial;
    text-align: justify;
    width: 100%;
    padding: 0 4%;
    font-size: 14px;
    color: rgba(28, 35, 43, 0.71);
    font-family: "Rebond Grotesque", sans-serif;
  }

  .discoverPhone{
    &:active{
      transform: scale(0.8);
      transition: 0.2s;
    }
    &:hover{
      transition: 0.2s;
      filter: brightness(92%);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    svg{
      width: 14px;
      color: white;
    }
  }

  button{
    margin-top: 30px;
    background-color: #e94f37;
    transition: 0.2s;
    font-family: "Rebond Grotesque", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
    border-radius: 25px;
    padding: 12px 40px;
  }
}


@media screen and (max-width: 700px){
  .container{
    width: 500px;
  }
  .imgContainer{
    width: 40% !important;
  }
  .contentContainer{
    width: 60% !important;
  }
}

@media screen and (max-width: 600px){


  .thumbnail{
    width: min-content!important;
    svg{
      margin-left: 2px!important;
    }
  }

  .sThumbnail{

  }
}