@import "styles/utils/var";

.container {

  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 280px;
  .containerImg{
    height: 80%;
    width: 100%;
    img{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
      height: 100%;
      width: 100%;

    }
  }

  .containerTitle{
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5vh;
    background-color: white;
    flex: 1;
    padding: 15px 3%;
    margin-top: -2%;

    border-radius: 12px 12px 8px 8px;
    box-shadow: $shadow;
    h5{
      &:first-letter{
        text-transform: uppercase;
      }
      text-align: center;
      font-size: 11px;
      font-family: 'Montserrat',sans-serif;
      word-break: break-word;
      font-weight: bold;
    }
    p{
      &:first-letter{
        text-transform: uppercase;
      }
      font-size: 10px;
      font-family: 'Poppins',sans-serif;
      font-weight: bold;
      color: rgba(84, 89, 95, 0.74);
    }

  }

  .thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
  top: -5%;
    right: -10%;
    padding: 5px 10px;
    height: 30px;
    background-color: #e04444;
    box-shadow: $shadow;
    border-radius: 12px;
    svg{
      fill: white;
    }
    h6{
      color: white;
      font-family: 'Montserrat',sans-serif;
      font-weight: bold;
      font-size: 10px;
    }
    p{
      font-size: 10px;
      color: white;
      font-family: 'Montserrat',sans-serif;
    }
  }

}

.snippet{
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  content: '';
  position: absolute;
  bottom: 0;
  padding: 0px 16px;
  left: 0;
  width: 100%;
  border-radius: 12px;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 1;
  transition: height 0.2s ease-out;
  h7{
    &:first-letter{
      text-transform: uppercase;
    }
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  p{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: bold;
    font-size: 12px;
    color: rgba(28, 35, 43, 0.71);
    font-style: italic;
    font-family: "Montserrat", sans-serif;
  }
}
