@import "styles/utils/var";

.container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;

  h7{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    width: 70%;
    font-family: "Montserrat Alternates",sans-serif;
    font-weight: bold;
    border-bottom: solid 1px rgba(84, 89, 95, 0.09);
    padding-bottom: 5px;
    svg{
      margin-left: 5px;
      color: #1C232B;
      width: 14px;
    }
  }
}