@import "styles/utils/var";

.container {

  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .headerComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 15px 15px;
    background-color: #1C232B;
    span{
      cursor: pointer;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: white;
      font-family: "Montserrat", sans-serif;

      svg {
        width: 15px;
        margin-right: 10px;
        color: white;
      }
      span{
        cursor: pointer;
      }
    }
  }

  .banner{
    min-height: 100px;
    height: auto;
    display: none;
    z-index: 9;
    float: left;
    padding-left: 10px;
    img{
      float: left;
      border-radius: 10px;
      object-fit: cover;
      width: 80px;
      height: 100px;
      margin-right: 10px;
    }

    .containerDescription{
      width:100%;
      padding-left: 10px;
      z-index: 2;
      background-color: white;

      padding-right: 20px;
      p{
        text-align: justify;
        color: rgb(66, 60, 53);
        font-family: "Montserrat", sans-serif;
        font-size: 11px;
        word-break: break-word;
        font-weight: bold;

      }

    }
  }

  .statsChapter{
    display: none;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 15px;
    padding: 0px 15px;
    .nbChapter{
      display: flex;
      align-items: center;
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight: bold;
      svg{
        margin-left: 5px;
        width: 12px;
        color: $darkBrown;

      }
    }

    .nbLikes{
      display: flex;
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      color: $darkBrown;
      font-weight: bold;
      svg{
        margin-left: 5px;
        width: 18px;
        color: $darkBrown;
      }
    }
  }

  .chapterList{
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background:transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(28, 35, 43, 0.44);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $grey;
    }
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
    display: block;
    scroll-behavior: smooth;

    .chapterTitleResp{
      font-size: 16px;
      font-family: 'Santral-Regular',sans-serif;
      font-weight: bold;
      margin-bottom: 20px;
    }
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0px 10px 10px;
  border-bottom: solid 2px $grey;
  margin-bottom: 10px;
  cursor: pointer;

  .likes{
    display: flex;
    align-items: center;
    font-size: 10px;
    font-family: "Santral-Regular",sans-serif;
    font-weight: bold;
    color: #9844AD;
  }
}

    .titleChapter{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 4px;
      .title{
        &:first-letter{
          font-size: 13px;
        }
        font-family: "Santral-Regular", sans-serif;
        color: rgb(66, 60, 53);
        font-size: 12px;
        font-weight: bold;
      }


      span{
        font-family: 'Santral-Regular',sans-serif;
        font-weight: initial;
        font-size: 12px;
        opacity: 0.8;
      }

    }
  }

  .titleSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    border-bottom: solid 1px $grey;
    background-color: #1C232B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    h5 {
      &:first-letter{
        text-transform: uppercase;
      }
      color: white;
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
    }

    svg{
      cursor: pointer;
      width: 18px;
      color: white;
    }


    div {
      display: flex;
      justify-content: flex-start;

      p {
        transition: 0.2s;
        cursor: pointer;
        font-size: 10px;
        font-family: "Montserrat", sans-serif;
        margin-right: 10px;
        color: white;
      }
    }
  }

  .contentCommentaryContainer {
    padding-top: 10px;
    padding-bottom: 80px;
    max-height: 80%;
    display: block;
    overflow: auto;
    direction: ltr !important;
  }

  .commentaryContainer {
    z-index: 2;
    position: absolute;
    background-color: $grey;
    min-height: 120px;
    width: 100%;
    bottom: 0px;
    padding-bottom: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


.seeMore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}


.filterActive{
  transition: 0.2s;
  font-weight: bold!important;
}

.cut{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.dNone{
  display: none!important;
}

.loaderContainer{
  position: absolute;
  z-index: 2220!important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
}

.err{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  img{
    margin-top: -6%;
    padding: 1%;
    height: 20vh;
    width: 220px;
    border-radius: 24px;
    object-fit: contain;
  }

  h4{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p{
    margin-bottom: 20px;
    font-family: 'Montserrat',sans-serif;
    color: rgba(28, 35, 43, 0.83);
    font-size: 14px;
  }
}


@media screen and (max-width: 900px){
  .headerComment,.titleSection{
    display: none!important;
  }

  .chapterList{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item{
    width: 80%;
    min-height: 80px!important;
  }

  .titleChapter{
    p{
      &:first-letter{
        font-size: initial!important;
      }
      font-size: 15px!important;
    }
    span{
      font-size: 14px!important;
    }
  }
}


@media screen and (max-width: 450px){
  .titleChapter{
    p{
      &:first-letter{
        font-size: 13px!important;
      }
      font-size: 13px!important;
    }
    span{
      font-size: 12px!important;
    }
  }
}

@media screen and (max-width: 300px){
  .item{
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
  }
}