@import "styles/utils/var";

.container {

  position: relative;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .headerComment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: $purpleLight;

    span{
      cursor: pointer;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: white;
      font-family: $primaryFont;
      font-weight: bold;
      span{
        &:first-letter{
          text-transform: uppercase;
        }
        font-weight: bold;
      }
      svg {
        width: 15px;
        margin-right: 10px;
        color: white;
      }
    }
  }

  .titleSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    padding-left: 15px;
    border-bottom: solid 1px $grey;
    background-color: $purpleLight;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;


    h5 {
      font-family: $primaryFont;
      font-weight: bold;
      color: white;
      font-size: 13px;
      span{
        font-size: 12px;
      }
    }

    div {
      display: flex;
      justify-content: flex-start;

      p {
        &:active {
          transform: scale(0.8);
          transition: 0.2s;
        }
        transition: 0.2s;
        cursor: pointer;
        font-size: 10.5px;
        font-family: $primaryFont;
        margin-right: 10px;
        color: white;
      }
    }
  }

  .errContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;

    h4{
      font-size: 24px;
      font-family: $primaryFont;
      font-weight: bold;
      margin-bottom: 5px;
    }

    p{
      text-align: center;
      margin-bottom: 20px;
      font-family: $primaryFont;
      font-weight: bold;
      color: $black;
      font-size: 14px;
      padding: 0px 10px;
    }
  }

  .contentCommentaryContainer {
    padding-top: 10px;
    padding-bottom: 60px;
    height: 600px;
    display: block;
    overflow: auto;
    direction: ltr !important;
    scroll-behavior: smooth;
  }

  .filterPhone{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
  }

  .empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 0% 2%;
    img{
      width: 100px;
    }
    p{
      font-family: $primaryFont;
      font-weight: bold;
      margin-top: 6%;
      text-align: center;
      span{
        color: #343d46;
        -webkit-text-stroke-width: 0.2px;
        cursor: pointer;
font-size: 12px;
        font-weight: 500;
      }
    }
  }

  .commentaryContainer {
    z-index: 2;
    position: absolute;
    background-color: $grey;
    min-height: 90px;
    width: 100%;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
      position: absolute;
      top: 0;
      background-color: #9844AD;
      color: white;
      font-family: 'Montserrat Alternates',sans-serif;
      padding: 10px;
      font-size: 10px;
      z-index: 2;
    }

    .formContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 50%;

      textarea {
        &::placeholder {
          font-family: $primaryFont;
          font-size: 12px;
        }
        &:read-only{
          cursor: pointer;
        }
        &:focus{
          border-color: rgba(152, 68, 173, 0.36);
          transition: 0.1s;
        }
        transition: 0.1s;
        border: solid 1px transparent;
        border-radius: 5px;
        font-family: $primaryFont;
        resize: none;
        outline: none;
        position: relative;
        height: 50px;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 12px;
        width: 100%;
      }
    }

    .sendContainer {
      &:active{
        transform: scale(0.8);
        transition: 0.2s;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 18%;
      background-color: #54595F;
      border-radius: 25px;
      transition: 0.2s;
      cursor: initial;
      svg{
        width: 17px;
        color: white;
      }
    }

    .active{
      cursor: pointer;
      transition: 0.2s;
      background-color: #9844AD;
    }
  }
}




.filterActive{
  font-weight: bold!important;
}

.active{
  background-color: #9844AD!important;
}

.loaderContainer{
  position: absolute;
  z-index: 2220!important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 110%;
}

.loaderContainerPhone{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  padding-bottom: 10px;
  height: 100px;
}

@media screen and (max-width: 600px){
.headerComment,.titleSection{
  display: none!important;
}
.commentaryContainer{
  position: initial;
}
  .contentCommentaryContainer{
    height: auto!important;
    display: flex!important;
    justify-content: center!important;
    flex-direction: column;
    align-items: center!important;
    padding-top: 0!important;
  }

  .commentaryContainer{
    background-color: transparent!important;
  }

  .empty{
    padding-bottom: 4vh!important;
    height: auto!important;
  }

  .loaderContainer{
    display: none!important;
  }
}

@media screen and (max-height: 500px) and (orientation: landscape){
  .container{
    display: none;
  }
}