@import "styles/utils/var";
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999 !important;
  background-color: rgba(28, 35, 43, 0.77);

  img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
  }

  .containerContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 430px;
    border-radius: 15px;
    background-color: white;
    box-shadow: $shadow;
  }

  .close {
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }
    position: absolute;
    width: 20px;
    right: 4%;
    top: 6%;
    cursor: pointer;
  }

  .headerModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    h5{
      font-size: calc(12px + 0.2vw);
      font-family: $primaryFont;
      font-weight: bold;
      text-align: center;
      padding: 0px 10px;
    }
    p{
      padding: 0px 10px;
      text-align: center;
      color: #6b7077;
      font-family: $primaryFont;
      font-size: 12px;
    }
  }

  .containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 15px;
    button{
      &:active {
        transform: scale(0.8);
        transition: 0.2s;
      }

      &:hover {
        transition: 0.2s;
        filter: brightness(92%);
      }

      transition: 0.2s;
      background-color: #1C232B;
      color: white;
      font-family: $primaryFont;
      letter-spacing: 1px;
      font-weight: bold;
      border-radius: 5px;
      font-size: 9px;
      box-shadow: $shadow;
      padding: 10px 20px;
    }
    .red{
      background-color: #e04444;
    }
  }

  .errMsg {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: red;
  }


  .disabled {
    cursor: initial;
    transition: 0.1s;
    background-color: #54595F !important;
  }

  .active {
    cursor: pointer;
    transition: 0.1s;
    background-color: #e04444;
  }

}

.containerDeleteAccountCustomProvider {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999 !important;
  background-color: rgba(28, 35, 43, 0.77);

  .containerContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 50px 30px;
    border-radius: 15px;
    background-color: white;
    box-shadow: $shadow;
  }

  .close {
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }
    position: absolute;
    width: 20px;
    right: 4%;
    top: 6%;
    cursor: pointer;
  }

  .headerModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100%;
    align-items: center;
    h5{
      font-size: calc(12px + 0.2vw);
      font-family: $primaryFont;
      font-weight: bold;
      text-align: center;
      padding: 0px 10px;
    }
    p{
      padding: 0px 10px;
      text-align: center;
      color: #6b7077;
      font-family: $primaryFont;
      font-size: 12px;
    }
  }

  .containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    button{
      &:active {
        transform: scale(0.8);
        transition: 0.2s;
      }

      &:hover {
        transition: 0.2s;
        filter: brightness(92%);
      }

      transition: 0.2s;
      background-color: #1C232B;
      color: white;
      font-family: $primaryFont;
      letter-spacing: 1px;
      font-weight: bold;
      border-radius: 5px;
      font-size: 10px;
      box-shadow: $shadow;
      padding: 10px 20px;
    }
    .red{
      background-color: #e04444;
    }
  }

  .errMsg {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: red;
  }


  .disabled {
    cursor: initial;
    transition: 0.1s;
    background-color: #54595F !important;
  }

  .active {
    cursor: pointer;
    transition: 0.1s;
    background-color: #e04444;
  }

}



.containerCommentary{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 21000;

  .containerContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: $shadow;
  }

  .close {
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }
    position: absolute;
    width: 20px;
    right: 4%;
    top: 6%;
    cursor: pointer;
  }

  .headerModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    h5{
      font-size: calc(12px + 0.2vw);
      font-family: $primaryFont;
      font-weight: bold;
    }
    p{
      text-align: center;
      color: #6b7077;
      font-family: $primaryFont;
      font-size: 12px;
      word-break: break-word;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  .containerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 15px;
    button{
      &:active {
        transform: scale(0.8);
        transition: 0.2s;
      }

      &:hover {
        transition: 0.2s;
        filter: brightness(92%);
      }
      background-color: #1C232B;
      color: white;
      font-family: $primaryFont;
      letter-spacing: 1px;
      font-weight: bold;
      border-radius: 5px;
      font-size: 9px;
      box-shadow: $shadow;
      padding: 8px 20px;
    }
    .red{
      background-color: #e04444;
    }
  }

  .errMsg {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: red;
  }


  .disabled {
    cursor: initial;
    transition: 0.1s;
    background-color: #54595F !important;
  }

  .active {
    cursor: pointer;
    transition: 0.1s;
    background-color: #e04444;
  }
}

@media screen and (max-width: 700px){
  .containerDeleteAccountCustomProvider{
    .containerContent{
      padding: 55px 55px ;
    }
    .close{
      display: none;
    }
    .containerBtn{
      flex-direction: column;
      margin-top: 10px;
      button{
        width: 160px;
        font-size: 9px!important;
      }
    }
  }
  .container,{
    .close{
      display: none;
    }
.containerContent{
  border-radius: 10px;
  padding: 35px 35px;
  width: min-content;
  height: min-content;
}

    .headerModal{
      gap: 5px;
      img{
        display: none;
      }
    }
  }
}


.errMsgDelete{
  text-align: center;
  color: #e94f37!important;
}


@media screen and (max-width: 600px){
  .containerCommentary .containerContent{
    box-shadow: none!important;
  }
}

@media screen and (max-width: 500px){
  .containerCommentary{
    .containerContent{
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 400px){
  .containerDeleteAccountCustomProvider{
    .containerContent{
      width: 90%;
      padding: 25px 5px ;
    }
    .containerBtn{
      flex-direction: column;
      margin-top: 10px;
      button{
        width: 160px;
        font-size: 9px!important;
      }
    }
  }
}


@media screen and (max-width: 270px){
  .container{
    .containerContent{
      width: 90%;
      padding: 25px 5px;
    }

    .containerBtn{
      flex-direction: column;
      margin-top: 10px;
      button{
        font-size: 9px!important;
      }
    }
  }
}