@import "styles/utils/var";
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999 !important;
  background-color: rgba(28, 35, 43, 0.77);

  img{
    width: 100px;
    margin-top: 20px;
  }
}

.containerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2%;
width: 22vw;
  border-radius: 15px;
  background-color: white;
  box-shadow: $shadow;
}

.close {
  position: absolute;
  width: 20px;
  right: 4%;
  top: 6%;
  cursor: pointer;
}

.headerModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  h5{
    font-size: calc(12px + 0.2vw);
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
  }
  p{
    text-align: center;
    color: #6b7077;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
  }
}

.containerBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
margin-top: 20px;
  gap: 15px;
  button{
    background-color: #1C232B;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: 11px;
    padding: 10px 20px;
  }
  .red{
    background-color: #e04444;
  }
}

.errMsg {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: red;
}


.disabled {
  cursor: initial;
  transition: 0.1s;
  background-color: #54595F !important;
}

.active {
  cursor: pointer;
  transition: 0.1s;
  background-color: #e04444;
}