@import "styles/utils/var";
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999 !important;
  background-color: rgba(28, 35, 43, 0.77);
}

.containerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  min-height: 400px;
  border-radius: 15px;
  background-color: white;
  padding: 10px 15px;
  box-shadow: $shadow;
}

.close {
  position: absolute;
  width: 20px;
  right: 4%;
  top: 4%;
  cursor: pointer;
}

.headerModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
  h5{
    font-size: calc(12px + 0.2vw);
    font-family: $primaryFont;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px;

  }
  p{
    font-family: $primaryFont;
    font-weight: 500;
    padding: 0px 10px;
    text-align: center;
    font-size: 12px;
  }
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  img{
    width: 90px;
  }

  .emailLabel{
    display: flex;
    align-items: center;
    gap: 5px;
    svg{
      color: #3cad41;
      margin-top: -2px;
      width: 12px;
    }
  }
  label{
    text-align: left;
    width: 70%;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: -10px;
    font-family: $primaryFont;

    .verify{
      cursor: pointer;
      font-size: 9px;
    }
  }


  input{
    &:focus{
      box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
      transition: 0.1s;
    }
    &::placeholder{
    }
    transition: 0.1s;
    outline: none!important;
    font-family: $primaryFont;
    border-radius: 5px;
    font-size: 11px;
    border: solid 1px $border;
    padding: 5px 10px;
    width: 70%;
  }

}

.deleteBtn{

  transition: 0.2s;
  background-color: #1C232B;
  min-width: 30%;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: $primaryFont;
  padding: 10px 30px;
}

.errMsg {
  display: block;
  text-align: left;
  font-size: 11px;
  font-family: $primaryFont;
  font-style: italic;
  color: red;
}


.disabled {
  cursor: initial;
  transition: 0.1s;
  background-color: #54595F !important;
}

.active {
  &:active {
    transform: scale(0.8);
    transition: 0.2s;
  }

  cursor: pointer;
  transition: 0.1s;
  background-color: #e04444;
}

@media screen and (max-width: 1000px) and (max-height: 400px){
  .container{
    overflow-y: scroll;
    padding-top: 6%;
    padding-bottom: 2%;
  }
}

@media screen and (max-width: 700px){
  .containerContent{
    border-radius: 5px;
    width: 70%;
  }
}

@media screen and (max-width: 500px){
  .containerContent{
    width: 90%;
  }
}

@media screen and (max-width: 350px){
  .containerContent{
    height: auto;
    min-height: auto;
    padding: 50px 2%;
    img{
      display: none;
    }

    .headerModal{
      margin-bottom: 20px;
    }

    label,input, button{
      width: 70%;
    }
  }

}

@media screen and (max-width: 300px){
  .containerContent{
    height: 50% !important;
  }
}