@import "styles/utils/var";
.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999 !important;
  background-color: rgba(28, 35, 43, 0.77);
}

.containerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2% 2%;
  min-width: 20vw;
  border-radius: 15px;
  background-color: white;
  box-shadow: $shadow;
}

.close {
  position: absolute;
  width: 20px;
  right: 4%;
  top: 4%;
  cursor: pointer;
}

.headerModal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  img{
    width: 120px;
    clip-path: circle();
  }
  h5{
    font-size: calc(15px + 0.2vw);
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
  }
  p{
    color: #6b7077;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
  }


}

.google{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.or{
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    background-color: rgba(28, 35, 43, 0.13);
    height: 1px;
    margin-top: +0.4%;
    width: 45%;
  }
  p{
    font-size: 12px;
    color: rgba(28, 35, 43, 0.8);
    font-family: 'Poppins',sans-serif;
  }
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  label{
    text-align: left;
    width: 90%;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Montserrat",sans-serif;
  }


  input{
    &:focus{
      box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
      transition: 0.1s;
    }
    &::placeholder{
    }
    transition: 0.1s;
    outline: none!important;
    font-family: "Montserrat",sans-serif;
    border-radius: 5px;
    font-size: 11px;
    border: solid 1px $border;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 90%;
  }

  .btn{
display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .register{
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    color: rgb(66, 60, 53);
    font-size: 13px;
  }

}

.loginBtn{
  margin-top: 20px;
  background-color: #9844AD;
  color: white;
  font-size: 12px;
  padding: 12px 5px;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Montserrat Alternates',sans-serif;
}

.errMsg {
  margin-top: 10px;
  padding-left: 5px;
  display: block;
  text-align: center;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: red;
}
