@import "styles/utils/var";

.container {
  &:hover {
    background-color: rgba(184, 184, 184, 0.11);
    transition: 0.3s;
  }

  position: relative;
  transition: 0.3s;
  border-top: solid 1px rgba(84, 89, 95, 0.07);
  border-bottom: solid 1px rgba(84, 89, 95, 0.07);
  overflow: hidden;

  svg {
    &:hover {
      color: #9844AD;
    }

    height: 16px;
    color: rgba(28, 35, 43, 0.44);
  }



  .options {
    &:active {
      transform: scale(0.6);
      transition: 0.2s;
    }
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.itemNotif,
.itemNotifOpen {
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0% 14px;
  width: 100%;
  // margin-bottom: 20px;


  .cntImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }

    .notRead {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      top: 0px;
      border-radius: 50%;
      background-color: #a623c7;
      border: 2px solid rgb(236, 236, 236);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;

    h6 {
      &::first-letter {
        text-transform: uppercase;
      }
      font-weight: bold;
      font-family: $primaryFont;
      font-size: 12px;
      word-break: break-word;
      width: 300px;
    }

    p {
      width: 280px;
      font-size: 12px;
      font-family: 'Montserrat', sans-serif;
    }

    .date {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-family: 'Poppins',sans-serif;
        font-style: initial;
        color: rgba(28, 35, 43, 0.7);
        font-size: 11px;
      }

      div {
        width: 10px;
        height: 10px;
        background-color: #9844AD;
        border-radius: 50%;
      }
    }
  }


}

.itemNotif {
  background-color: rgb(236, 236, 236);
}

.notRead {
  font-weight: bold;
}

@media screen and (max-width: 450px) {

  .itemNotif,
  .itemNotifOpen {
p,h6{
  width: auto!important;
}
  }

  .options {
    right: 5px !important;
  }
}