@import "styles/utils/var";

.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 9999 !important;
  background-color: rgba(28, 35, 43, 0.77);
}


.containerContent {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 440px;
  background-color: white;
  border-radius: 10px;
  // padding-bottom: 3%;
  // padding-bottom: 42px;
  box-shadow: $shadow;
}

.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 6%;

  h5 {
    text-align: center;
    color: #1C232B;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;

    span {
      letter-spacing: 1px;
    }
  }

  .close {
    position: absolute;
    right: 3%;
    width: 22px;
    cursor: pointer;
    color: #1C232B;
  }
}

.emptyBlock {
  height: 20px;
  background-color: rgba(84, 89, 95, 0.05);
  border: solid 1px rgba(84, 89, 95, 0.07);
}

.contentNotif {

  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background:transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #e94f37;
    border-radius: 2px;
  }

  display: block;
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
  gap: 20px;
  height: 400px;
  // margin-right: 0.4%;

  .itemNotif {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 80px;
    padding: 0% 14px;
    width: 100%;
    margin-bottom: 20px;
    border-top: solid 1px rgba(84, 89, 95, 0.09);
    border-bottom: solid 1px rgba(84, 89, 95, 0.09);

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 20px;
    }

    .content{
      display: flex;
      flex-direction: column;
      flex: 1;
      h6{
        font-family: 'Montserrat',sans-serif;
        font-size: 12px;
        font-weight: bold;
        word-break: break-word;
        width: 300px;
      }
      p{
        width: 300px;
        font-size: 12px;
        font-family: 'Montserrat',sans-serif;
      }
      .date{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          font-style: initial;
          color: rgba(28, 35, 43, 0.7);
          font-size: 12px;
        }

        div{
          width: 10px;
          height: 10px;
          background-color: #9844AD;
          border-radius: 50%;
        }
      }
    }
  }
}


.footer {
  font-family: 'Montserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.616);
  color: rgb(255, 255, 255);
  font-size: 13px;
  .lus {
    &:hover {
      background-color: #863b99;
      transition: 0.3s;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: #9844AD;
    border-bottom-left-radius: 8px;
    cursor: pointer;
  }
  
  .suppr {
    &:hover {
      background-color: rgb(221, 59, 34);
      transition: 0.3s;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100%;
    width: 50%;
    background-color: #e94f37;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 40px;

  img {
    width: 150px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
  }
}