.container{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 10%;
  img{
    width: 20%;
    object-fit: contain;
    clip-path: circle();
  }
  h5{
    font-family: 'Rebond Grotesque',sans-serif;
font-size: 1.3vw;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.73);
  }
  p{
    font-style: italic;
    font-size: calc(14px + 0.1vw);
    font-family: 'Rebond Grotesque',sans-serif;
    color: rgba(28, 35, 43, 0.78);
  }
  button{
    background-color: #e94f37;
    color: white;
    font-size: 12px;
    padding: 10px 55px;
    font-family: "Rebond Grotesque",sans-serif;
    font-weight: bold;
    border-radius: 25px;
  }
}