@import "../../../styles/utils/var";
.container{
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-bottom: 10%;
  img{
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
  h5{
    text-align: center;
    font-family: $primaryFont;
    font-size: 18px;
    font-weight: bold;
    padding: 0% 10px;
  }
  p{
    text-align: center;
    font-size: 15px;
    font-family: $primaryFont;
    font-weight: 500;
    color: rgba(28, 35, 43, 0.78);
    padding: 0px 10px;
  }
  button{
    &:active{
      transform: scale(0.8);
      transition: 0.2s;
    }
    &:hover{
      transition: 0.2s;
      background-color: $orangeHover;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $orange;
    color: white;
    font-size: 12px;
    padding: 10px 35px;
    font-family: $primaryFont;
    font-weight: bold;
    box-shadow: $shadow;
    border-radius: 25px;
    svg{
      color: white;
      width: 20px;
    }
  }
}