@import "../../../styles/utils/var";
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;

  h6{
    &:first-letter{
      text-transform: uppercase;
    }
    font-family: $primaryFont;
    color: #1C232B;
    font-weight: bold;
    font-size: 15px;

    .book{
      color: #9844AD;
    }

    .nb{
      margin-left: 5px;
      background-color: #9844AD;
      padding: 3px 10px;
      font-size: 12px;
      color: white;
      border-radius: 25px;
    }
  }
}

@media screen and (max-width: 1050px){
  .container{
    background-color: #1C232B;
    h6{
      color: white;
      .book{
        color: white;
      }
    }
  }
}