@import "../../../styles/utils/var";
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 5px 0px rgb(64 60 67 / 16%);
  padding: 20px 0px;

  h6{
    &:first-letter{
      text-transform: uppercase;
    }
    font-family: $primaryFont;
    color: #1C232B;
    font-weight: bold;
    font-size: 15px;
  }
}

@media screen and (max-width: 1050px){
  .container{
    background-color: #1C232B;
    h6{
      color: white;
    }
  }
}