@import "styles/utils/var";

.container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.containerF {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 1300px;
  margin-top: 50px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 15px;
  width: 100%;

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    img {
      box-shadow: $shadow;
      border-radius: 50%;
      height: 180px;
      width: 180px;
      object-fit: cover;
    }

    button{
      font-family: 'Santral-Regular',sans-serif;
      border: solid 1px rgba(90, 102, 115, 0.47);
      opacity: 0.7;
      border-radius: 25px;
      font-size: 13px;
      padding: 6px 80px;
    }

    p{
      font-family: 'Poppins',sans-serif;
      font-size: 12px;
    }
  }


  .labelWriter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    div{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 250px;
      p{
        font-family: "Santral-Regular",sans-serif;
        font-size: 12px;
        opacity: 0.9;
      }

      img{
        width: 20px;
      }

      svg{
        width: 18px;
      }
    }
  }



}

.profil {
display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;

  h5 {
    text-align: center;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: $purple;
  }
}

.social{
  display: flex;
  margin: 10px 0;
  gap: 10px;

  .itemSocial{
    &:hover{
      opacity: 1;
      transition: 0.2s;
    }
    opacity: 0.7;
    transition: 0.2s;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
    svg {
      cursor: pointer;
      width: 15px;
      color: #1C232B!important;
      fill: #1C232B;
      opacity: 0.8;

    }

    span{
      font-weight: bold;
      font-size: 11px;
      opacity: 0.8;
      font-family: 'Poppins',sans-serif;
    }

    .dat{
      font-size: 14px;
    }
  }

}

.description{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;

  .containerD{
    width: 70%;
  }
}

.chapterContainer {

  height: auto;
  width: 100%;

  .infoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-bottom: solid 1px rgba(84, 89, 95, 0.07);

    .absoText{
      top: -10%;
      font-family: 'Branch',sans-serif;
      font-size: 8vh;
      right: 0%;
      opacity: 0.06;
      word-wrap: break-word;

      color: #9844AD;
      position: absolute;
    }

    .lab{
      display: flex;
      justify-content: space-between;
      align-items: center;

      h6 {
        color: $darkBrown;
        font-family: "Santral-Regular", sans-serif;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: -0.5px;

        span {
          text-transform: capitalize;
          font-weight: bold;
          color: #9844AD;
        }
      }
      p{
        font-family: 'Santral-Regular',sans-serif;
        opacity: 0.8;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: -0.5px;
      }
    }
    .pseudo_date {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .imgPseudo{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
          height: 4.8rem;
          width: 4.8rem;
          border-radius: 50%;
          object-fit: cover;
        }

        div{
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          p{
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 5px;
            span{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background-color: #9844AD;
            }
            svg{
              color: white;
              width: 11px;
            }
          }
        }

        h3 {
          font-size: 20px;
          color: $darkBrown;
          font-family: "Santral-Regular", sans-serif;
          font-weight: bold;
        }

        p {
          font-size: 12px;
          font-weight: bold;
          font-family: "Montserrat", sans-serif;
        }
      }


      button{
        &:active{
          transform: scale(0.8);
          transition: 0.2s;
        }
        &:hover{
          transition: 0.2s;
          filter: brightness(92%);
        }
        cursor: pointer;
        z-index: 1;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: white;
        font-weight: bold;
        font-family: 'Montserrat',sans-serif;
        border-radius: 25px;
        font-size: 10px;
        background-color: #e94f37;
        padding: 8px 50px;
        svg{
          width: 15px;
          color: white;
        }
      }

    }





    .snippet {
      margin: 5px 0px;
      overflow: hidden;
      word-break: break-word;
      font-size: 12px;
      color: rgba(28, 35, 43, 0.87);
      font-style: italic;
      font-family: "Montserrat", sans-serif;
    }


  }

  .topBook {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 5px;

    svg {
      margin-left: 10px;
      width: 14px;
    }
  }

  .rankingGridContainer {
    margin-bottom: 20px;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;

    h4 {

    }
  }

  .btnFilter {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      justify-content: end;
      align-items: center;
      color: rgba(28, 35, 43, 0.84);
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: bolder;

      svg {
        width: 15px;
        color: $darkBrown;
        margin-left: 10px;
      }
    }

    p {
      display: flex;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      color: $purple;
      font-family: "Montserrat Alternates", sans-serif;
      font-weight: bolder;

      svg {
        width: 14px;
        color: $purple;
        margin-left: 10px;
      }
    }
  }

  .contentChapterList {

    overflow-y: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;


    .chapter {
      display: flex;
      justify-content: space-between;
      height: 80px;
      border-bottom: solid 1px $grey;
      cursor: pointer;

      .headerChapter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h6 {
          font-family: "Montserrat Alternates", sans-serif;
          color: $darkBrown;
          font-size: 13px;
          font-weight: bold;
        }

        h7 {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.68);
        }
      }

      .likeChapter {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
          text-align: center;
          color: $blue;
          font-size: 13px;
          font-family: "Poppins", sans-serif;
        }

        svg {
          width: 13px;
          color: $blue;
          margin-top: 5px;
        }
      }
    }
  }
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  img{
    width: 180px;
  }
  p{
    padding: 0px 10px;
    font-family: 'Santral-Regular',sans-serif;
    color: rgba(28, 35, 43, 0.65);
    text-align: center;
    span{
      font-weight: bold;
    }
  }
}


.containerS {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  width: 1300px;
  flex-direction: column;
  padding-bottom: 20px;

  .sortContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    h3 {
      font-family: "Montserrat Alternates", sans-serif;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 30px;
      -webkit-text-stroke-width: 1px;
      stroke-width: 1px;
      -webkit-text-stroke-color: #1C232B;
      stroke: #1C232B;
      color: #1C232B;
      letter-spacing: 1px;
    }

    div {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      margin-top: 20px;

      button {
        cursor: pointer;
        margin-right: 5px;
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 20px;
        font-family: "Montserrat Alternates", sans-serif;
        color: #1C232B;
        transition: 0.1s;
        font-weight: bold;
      }
    }
  }
}

.card {

  display: grid;
  justify-content: center;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 100%;
}

.seeMore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4vh;
  p{
    cursor: pointer;
    color: #9844AD;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
  }
}

.activeBtn {
  transition: 0.1s;
  background-color: #9844AD !important;
  color: #fcfaf7 !important;
}

@media screen and (max-width: 1500px){
  .containerF,.containerS{
    width: 80%;
  }

  .containerD{
    width: 100%!important;
  }
}

@media screen and (max-width: 1200px){
  .absoText{
    top: 0% !important;
    right: 0% !important;
    font-size: 6vh!important;
    word-break: initial!important;
  }
}


@media screen and (max-width: 600px){
  .imgContainer{
    align-items: center!important;
    justify-content: center!important;
    margin-right: 0;
  }
  .absoText{
    left: 0!important;
    letter-spacing: 0;
  }
  .containerF{
    flex-direction: column;
    align-items: center;
    width: 100% !important;
  }

.chapterContainer{
  width: 80%;
}

  .infoContainer{

    gap: 15px;

    .lab{
h6,p{
  font-size: 13px!important;
}
    }

    .social{
     justify-content: center;
    }

    h3{
      margin-right: 20px;
    }
    .pseudo_date{
      flex-direction: column;
      gap: 20px;
      margin-top: 30px;
      p{
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .social{
    flex-direction: column!important;
  }
}


@media screen and (max-width: 370px){
  .lab{
    flex-direction: column;
    gap: 10px;
  }

  .social{
    margin: 0!important;
  }
}