@import "styles/utils/var";

.container {
  background-image: url("/assets/blurry.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.sidebar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 76vh;
  bottom: 8.2%;
  right: 0px;
  z-index: 6;
  width: 400px;
  box-shadow: 5px 2px 10px $darkBrown;
}

.containerC {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.imgContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 220px;
  height: auto;
  margin-right: 50px;
  gap: 10px;
  .img{
    height: 200px;
    img{
      border-radius: 25px;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.infosBook{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorInfos{
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  gap: 10px;

  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  p{
    font-size: 14px;
    font-family: 'Rebond Grotesque',sans-serif;
    span{
      font-weight: bold;
      color: rgba(28, 35, 43, 0.84);
    }
  }
}

.btnRead{
  margin-top: 10px;
  width: 100%;

  button {
    width: 100%;
    padding: 14px 15px;
    background-color: $purpleLight;
    color: white;
    border-radius: 15px;
    font-size: 10px;
    font-family: "Montserrat Alternates";
    font-weight: bold;
  }
}

.chapterContainer {

  height: 80vh;
  width: 700px;
  padding-right: 10px;

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

h4{
  &:first-letter{
    text-transform: uppercase;
  }

  color: rgba(81, 86, 91, 0.91);
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  font-size: 15px;
  span{
    cursor: pointer;
  }
}
    h3{
      &:first-letter{
        font-size: 24px;
        text-transform: uppercase;
      }

      margin-top: 10px;
color: $darkBrown;
      font-size: 20px;
      font-family: "Alkatra",sans-serif;
      font-weight: bold;
    }

    .snippet{
      margin: 5px 0px;
      overflow: hidden;
      word-break: break-word;
      font-size: 11px;
      color: rgba(28, 35, 43, 0.87);
      font-style: italic;

      font-family: "Montserrat",sans-serif;
    }

    .seeMore{
      cursor: pointer;
      color: #9844AD;
      margin-left: 5px;
      font-style: initial;
      font-family: 'Montserrat Alternates',sans-serif;
      font-size: 11px;
      margin-bottom: 10px;
    }

    .btnFilter{
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        display: flex;
        justify-content: end;
        align-items: center;
        color: rgba(28, 35, 43, 0.84);
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: bolder;

        svg {
          width: 15px;
          color: $darkBrown;
          margin-left: 10px;
        }
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          margin-right: 10px;
          font-family: "Montserrat", sans-serif;
          font-size: 10px;
        }
      }

      p {
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        color: $purple;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: bolder;
      }
    }
  }

  .contentChapterList {
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $grey;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $grey;
    }

    overflow-y: auto !important;
    margin-top: 20px;
    display: block;
    height: 60vh;
    padding-right: 20px;
    flex-direction: column;
    padding-bottom: 8%;


    .chapter{
      display: flex;
      justify-content: space-between;
      height: 80px;
      border-bottom: solid 1px $grey;
      cursor: pointer;

      .headerChapter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h6 {
          font-family: "Montserrat Alternates", sans-serif;
          color: $darkBrown;
          font-size: 13px;
          font-weight: bold;
        }

        h7 {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.68);
        }
      }

      .likeChapter {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
          margin-top: 5px;
          text-align: center;
          color: rgba(28, 35, 43, 0.7);
          font-weight: bold;
          font-family: "Montserrat", sans-serif;
          font-size: 10px;
        }

      }
    }
  }
}


.cursor {
  cursor: pointer;
}


.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img{
width: 180px;
  }
  p{
    font-family: 'Rebond Grotesque',sans-serif;
    color: rgba(28, 35, 43, 0.65);
    span{
      font-weight: bold;
    }
  }
}


.seeMoreContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

}


.slideInRight {
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cutSummary{
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slideOut {
  -webkit-animation: slide-out-right 0.2s cubic-bezier(.55, .085, .68, .53) both;
  animation: slide-out-right 0.2s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }
}

.PhoneStyleBook {
  width: 100%;
  height: 100vh;

  .PhoneBookImgTitle {
    position: relative;
    width: 100%;
    height: 60%;

    img {
      height: 600px;
      width: 100%;
      filter: brightness(70%)
    }

    .PhoneBookInfosAuthor {
      position: absolute;
      width: 90%;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      h2 {
        font-family: 'Alkatra', cursive;
        font-size: 35px;
        color: white;
      }

      p {
        font-family: 'Poppins', cursive;
        font-size: 18px;
        color: rgb(194, 194, 194);
      }

    }
  }

  .PhoneBookDescription {
    background-color: #ffeeeb;
    position: relative;
    height: 40%;
    border-radius: 35px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px -12px 23px 6px rgba(0, 0, 0, 0.77);

    h2 {
      font-family: 'Alkatra', cursive;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .PhoneBookDescriptionStyle {
      display: flex;
      margin-bottom: 20px;
      h1 {
        font-family: 'Alkatra', cursive;
        font-size: 90px;
        margin-right: 20px;
      }

      p {
        font-family: 'Alkatra', cursive;
        font-size: 18px;
      }
    }

    .PhoneBookReadButtonPosition {
      display: flex;
      justify-content: center;

      .PhoneBookReadButton {
        &:hover {
          background-color: white;
          svg {
            color: #9844AD;
          }
          h3 {
            color: #9844AD !important;
          }
          p {
            color: #9844AD !important;
          }
          transition: 0.3s;
        }
        transition: 0.3s;
        padding: 13px;
        border: 1px solid #9844AD;
        background-color: #9844AD;
        border-radius: 18px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        svg {
          height: 58px;
          color: white;
          margin-right: 10px;
        }
        .PhoneBookRead {
          h3 {
            font-family: 'Alkatra', cursive;
            font-size: 25px;
            color: white;
          }

          p {
            color: white;
            margin-top: -5px;
          }
        }
      }
    }

  }
}