@import "styles/utils/var";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h2 {
    margin-bottom: 40px;
    font-size: 28px;
    font-family: "Potta One", sans-serif;
    color: $purple;
  }

  .btn {
    font-size: 20px;
    border-radius: 10px;
    color: white;
    font-family: "Potta One", sans-serif;
    width: 20%;
    padding: 20px 0px;
    transition: 0.2s;
  }
}

.containerRadio {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  .item {

    transition: 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    height: auto;
    width: 50vh;
    border: solid 2px $border;
    border-radius: 25px;
    padding: 50px;

    img {
      width: 100%;
      object-fit: contain;
      height: 200px;
      margin-bottom: 30px;
    }

    h3 {
      margin-bottom: 30px;
      font-family: "Potta One", sans-serif;

      span {
        color: $purple;
      }
    }

    p {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      margin-bottom: 30px;
    }
  }

  .fItem {
    margin-right: 50px;
  }

  .radio {
    cursor: pointer;
  }

  .radio:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $border;
  }

  .radio:checked:after {
    transition: 0.2s;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: #635291;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid $border;
  }
}


.invalid {
  cursor: initial;
  background-color: #686f77;
}

.valid {
  cursor: pointer;
  background-color: $purple;
}

.upValid {
  transition: 0.2s;
  transform: translateY(-20px);
}