.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;

  .grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}