@import "../../styles/utils/var";
@import "../../styles/utils/keyframe.module";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  height: auto;
}

.containerF {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vh;
  flex: 1;
}

.containerM {
  width: 70%;
  height: 100%;
  flex: 1;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h1 {
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 1vw;
  }

  p {
    color: #6b7077;
    font-family: $primaryFont;
    font-size: 13px;
    font-weight: 500;
  }
}

.menuLink {
  margin-top: 1%;
  display: flex;
  padding-right: 5px;
  margin-bottom: 4%;

  button {
    &:hover {
      background-color: rgba(100, 105, 109, 0.137);
      ;
    }

    position: relative;
    transition: 0.1s background-color;
    background-color: rgba(180, 185, 190, 0.13);
    padding: 0.8vh 2vw;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #54595F;

    span {
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      right: 8px;
      transform: translate(0, -50%);
      background-color: #e94f37;
      border-radius: 50%;
    }
  }

}

.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profil {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 40%;

  .imgCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

    svg {
      cursor: pointer;
      width: 20px;
      border-radius: 50%;
    }

    .check {
      color: #82e882;
    }

    .off {
      color: #e04444;
    }
  }

  .imgContainer {
    position: relative;
    display: flex;
    gap: 20px;

    .loaderImg {
      position: absolute;
      left: 40px;
      bottom: 10px;
      z-index: 1;
      transform: translate(-50%, -50%);
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.51);
      border-radius: 50px;
    }

    img {
      cursor: pointer;
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
    }

    .labelImg {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h5 {
        font-size: 14px;
        font-weight: bold;
        font-family: $primaryFont;
      }

      p {
        color: #6b7077;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
      }
    }
  }
}

.writer {
  display: flex;
  gap: 8vw;
  width: 100%;

  .lContainerWriter,
  .rContainerWriter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 45%;
  }

  .lContainerWriter {

    .containerImg{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
      h5{
        font-family: $primaryFont;
        font-size: 15px;
        font-weight: bold;
        span{
          color: #9844AD;
        }
      }
    }

    .headerWriterStats{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h5 {
        font-family: $primaryFont;
        font-size: 12px;
        color: #5a6673;
        font-weight: 500;
        span{
          font-weight: bold;
        }
      }

      p{
        font-family: $primaryFont;
        font-size: 12px;
        color: #5a6673;
        font-weight: bold;
      }
    }

    .containerPresentation {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;


      .headerPresentation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h6 {
          font-family: $primaryFont;
          font-weight: bold;
          font-size: 12px;
          text-align: left;
        }

        button {
          box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
          transition: 0.1s;
          font-size: 10px;
          color: white;
          font-weight: 600;
          font-family: $primaryFont;
          padding: 5px 15px;
        }

      }

      textarea {
        padding: 2%;
        font-size: 11px;
        color: #1C232B;
        font-family: "Montserrat", sans-serif;
        border: solid 1px rgba(84, 89, 95, 0.3);
        height: 15vh;
        width: 100%;
        outline: none;
        resize: none;
        border-radius: 5px;
        overflow-y: scroll;
      }
    }


    h2 {
      display: flex;
      justify-content: center;
      font-family: $primaryFont;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      margin-bottom: 18px;
    }
    .imgWriter {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      p {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: bold;
      }

      img {
        width: 50px;
        border-radius: 50%;
      }
    }


    .headerWriter {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .itemWriter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        h6,
        p {
          color: #6b7077;
          font-family: $primaryFont;
          font-size: 12px;
        }

        p {
          font-size: 10px;
          font-family: 'Montserrat Alternates', sans-serif;
          color: white;
          font-weight: bold;
          background-color: #9844AD;
          border: solid 1px #9844AD;
          border-radius: 12px;
          padding: 5px 20px;
        }
      }
    }

    .formWriter {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 12px;

      .hWriter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: $shadow;
        }
      }

      .stats {
        margin-top: 70px;

        .writerItem {
          display: flex;
          flex-direction: column;
          gap: 2px;
          margin-bottom: 20px;

          .label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            width: 100%;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 2px;
            font-family: $primaryFont;

            svg {
              color: #9844AD;
              width: 17px;
            }
          }

          .value {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            width: 100%;
            font-size: 13px;
            font-weight: bold;
            color: #9844AD;
            margin-bottom: 1px;
            font-family: $primaryFont;


            span {
              font-size: 11px;
              color: #9844AD;
            }
          }
        }
      }

      input {
        transition: 0.1s;
        outline: none !important;
        font-family: "Montserrat", sans-serif;
        border-radius: 5px;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 5px 0px;
        width: 80%;
      }


    }

  }

  .rContainerWriter {

    .containerSocial {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      .headSocial {
        h5 {
          font-family: 'Poppins', sans-serif;
          font-weight: bold;
          font-size: 12px;
          text-align: center;
        }

        p {
          margin-top: 15px;
          color: #6b7077;
          font-family: $primaryFont;
          font-size: 13px;
          text-align: left;
        }
      }

      .socialForm {
        position: relative;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        .socialImg {

          position: absolute;
          z-index: -1;
          right: 0px;

          img {
            width: 127px;
            height: 175px;
          }
        }
      }

    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  .emailLabel {
    display: flex;
    align-items: center;
    gap: 5px;

    svg {
      color: #3cad41;
      margin-top: -2px;
      width: 12px;
    }
  }

  label {
    text-align: left;
    width: 80%;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: $primaryFont;

    .verify {
      cursor: pointer;
      font-size: 9px;
    }
  }

  input {
    &:focus {
      box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
      transition: 0.1s;
    }

    &::placeholder {}

    transition: 0.1s;
    outline: none !important;
    font-family: "Montserrat",
    sans-serif;
    border-radius: 5px;
    font-size: 11px;
    border: solid 1px $border;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 80%;
  }
}

.becameWriter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -2%;

  img {
    width: 220px;
  }

  h5 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    strong {
      font-size: 16px;
      color: #9844AD;
    }
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
    font-style: italic;
  }

  button {
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }

    &:hover {
      transition: 0.2s;
      filter: brightness(98%);
    }

    box-shadow: $shadow;
    background-color: #9844AD;
    padding: 10px 40px;
    border-radius: 15px;
    font-family: 'Rebond Grotesque',
    sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  h5 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 2vh;
  }

  .itemSetting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: solid 1px rgba(84, 89, 95, 0.13);
    border-left: solid 1px rgba(84, 89, 95, 0.13);
    border-top: solid 1px rgba(84, 89, 95, 0.13);
    border-radius: 8px;
    padding: 2% 2%;
    width: 600px;
    background-color: white;

    .fSetting {
      display: flex;
      align-items: center;
      gap: 22px;

      svg {
        width: 25px;
        color: #1C232B;
      }

      div {
        display: flex;
        flex-direction: column;

        .labelSetting {
          font-size: 16px;
          font-family: $primaryFont;
          font-weight: bold;
          color: #1C232B;
        }

        .valueSetting {
          font-family: $primaryFont;
          color: #5a6673;
          font-size: 13px;
        }
      }
    }

    .toggleBtn,
    .musicToggle {
      cursor: pointer;
      width: 60px;
      height: 30px;
      background-color: #ddd;
      border-radius: 15px;
      position: relative;
    }
  }
}

.toggleBtn input[type="checkbox"] {
  display: none;
}

.musicToggle input[type="checkbox"] {
  display: none;
}

.toggleBtn label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.musicToggle label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.toggleBtn input[type="checkbox"]:checked+label {
  background-color: white;
  transform: translateX(30px);
}

.musicToggle input[type="checkbox"]:checked+label {
  background-color: white;
  transform: translateX(30px);
}

.toggleBtn input[type="checkbox"]:not(:checked)+label {
  background-color: white;
}

.musicToggle input[type="checkbox"]:not(:checked)+label {
  background-color: white;
}

.activeMenu {
  transition: 0.1s;
  border: solid 1px rgba(84, 89, 95, 0.09);
  background-color: white !important;
  color: #e94f37 !important;
  font-weight: bold;
}

.borderL {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.borderR {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.disabled {
  cursor: initial;
  transition: 0.1s !important;
  background-color: #54595F !important;
  border-radius: 15px;
}

.active {
  &:hover {
    background-color: #9332ac !important;
  }

  cursor: pointer;
  transition: 0.2s;
  background-color: $purpleLight !important;
  border-radius: 15px;
}

.errMsg {
  display: block;
  text-align: left;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: red;
}

.modifySettingsBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;

  button {
    width: 100%;
    font-family: $primaryFont;
    padding: 10px 10px;
    transition: 0.2s;
  }
}

.deleteAccount {
  font-family: $primaryFont;
  font-size: 11px;
  padding: 5px 10px;
  color: #e04444 !important;
  margin-top: 20px;
  width: 80%;
}

.InputAndButtonProfilAuthor {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  margin-bottom: 5px;

  a {
    &:hover {
      text-decoration: underline;
    }

    display: flex;
    align-items: center;
    width: 300px;
    color: #3b5998;
    overflow: hidden;
    white-space: nowrap;
  }

  input {
    padding: 5px;
    width: 300px;
    border-radius: 5px;
  }

  input:focus {
    outline: none !important;
  }

  input::placeholder {
    color: rgb(88, 88, 88);
  }

  .optionLinks {
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 30px;
    margin-left: 4px;

    svg {
      width: 50%;
      cursor: pointer;
      color: #9844AD;
      color: white;
    }
  }

  .svgModifLinksProfilAuthor {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4px;

    svg {
      height: 30px;
      margin-left: 4px;
      cursor: pointer;
    }
  }

}

.modifyBtn {
  font-family: $primaryFont;
  font-weight: bold;
  font-size: 11px;
  color: white;
  padding: 10px 10px;
  transition: 0.2s;
  margin-top: 20px;
  width: 80%;
}

.createPassword {
  &:active {
    transform: scale(0.8);
    transition: 0.2s;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: $primaryFont;
  font-size: 12px;
  color: white;
  background-color: #1C232B;
  padding: 10px 10px;
  transition: 0.2s;
  margin-top: 20px;
  width: 80%;
  gap: 8px;

  svg {
    width: 15px;
    color: white;
  }
}

.activeToggle {
  transition: 0.3s background-color ease;
  background-color: #9844AD !important;
}

.menuContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: transparent;
  z-index: 2000;

  .containerMain {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #1C232B;
    gap: 50px;
    justify-content: center;
    box-shadow: $shadow;
    align-items: center;
    padding: 15px;

    .item {
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;


      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .circle {
        position: absolute;
        bottom: 5%;
        right: 0%;
        background-color: #97fd97;
        height: 12px;
        width: 12px;
        border-radius: 50%;
      }

      svg {
        width: 20px;
        color: white;
      }

      p {
        font-weight: bold;
        font-family: $primaryFont;
        font-size: 8px;
        border: solid 2px transparent;
        padding-bottom: 5px;
        color: white;
      }

      .haveNotif {
        position: absolute;
        background-color: #e94f37;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        right: 10px;
        top: 6px;
      }
    }
  }

  .activeItem {
    display: flex;
    p {
      border-bottom-color: rgba(255, 255, 255, 0.91) !important;
    }
  }
}

.headerTitlePhone {
  font-family: $primaryFont;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;

  h2 {
    letter-spacing: 1px;
  }
}

.phoneHeaderAuthor {
  display: flex;
  justify-content: space-between;

  img {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    object-fit: cover;
  }

  .phoneHeaderStats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;

    .phonehWriter {
      display: flex;
      align-items: center;
      justify-content: center;

      h5 {
        font-family: $primaryFont;
        font-weight:bold;
        margin-bottom: 0px;
        font-size: 15px;
      }
    }
  }
}

.containerBtnImgPhone{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  button{
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }

    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
    transition: 0.1s;
    cursor: initial;
    font-size: 8px;
    background-color: #e94f37;
    border-radius: 5px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    font-family: "Open Sans", sans-serif;
    padding: 8px 15px;
  }

  .darkBtn{
    background-color: #54595F;
  }
}

@media screen and (max-width: 1530px) {
  .socialImg {
    display: none;
  }

  .socialLinks {
    width: 100%;
  }

  .headerTitle {
    h1 {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .writer {
    gap: 2vw !important;
    flex-direction: column !important;
    align-items: center;
  }

  .lContainerWriter,
  .rContainerWriter {
    width: 100% !important;

    h5 {
      font-size: 13px !important;
    }
  }

  .socialImg {
    display: contents;
  }

  .socialLinks {
    width: 80%;
  }

  .containerSocial {
    margin-bottom: 40px;
  }

  .stats {
    margin-top: 15px !important;
  }

  .headerWriter {
    gap: 30px !important;

    .itemWriter {
      p {
        padding: 5px 25px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .containerF {
      // margin-bottom: 80px;
    }

    .containerM {
      margin-bottom: 80px;
    }

    .profil {
      width: 70%;
    }

    .createPassword{
      width: 100%;
    }

    .imgContainer {
      margin-top: 30px;
      margin-bottom: 20px;
      justify-content: center;

      img {
        &:active {
          transform: scale(0.8);
          transition: 0.2s;
        }
        width: 90px;
        height: 90px;
      }
    }

    .form {
      label {
        width: 100%;
        color: #1c232b;
        font-family: $primaryFont;
        font-size: 12px;
      }

      input {
        width: 100%;
        padding: 12px;
        font-size: 12px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }

    .modifyBtn {
      width: 100%;
    }

    .writer{
      gap: 0!important;
    }


    .settings{
      gap: 20px;
    }

    .itemSetting{
      padding: 6% 6%;
      border: 1px solid rgba(84, 89, 95, 0.13);;
      width: 600px;
    }

  }
}

@media screen and (max-width: 770px) {
  .socialLinks {
    width: 320px;
  }
}

@media screen and (max-width: 650px) {
  .settings {
    .itemSetting {
      width:500px;
    }
  }
}

@media (width < 575px) {
  .containerM {
    width: 90%;
  }
}

@media (width < 515px) {
  .menuContainer {
    .containerMain {
      gap: 0px;
      justify-content: space-around;
    }
  }

  .itemSetting{
    padding: 6% 3% !important;
    width: 95% !important;
  }
}

@media (width <=500px) {
  .container {
    .containerM {
      width: 100%;
      padding: 0px 10px;
    }

    .profil {
      max-width: 400px;
      width: 95%;
    }
  }
}

@media screen and (max-width: 475px) {
  .socialImg {
    display: none !important;
  }

  .socialLinks {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .phoneHeaderStats {
    width: 50% !important;
  }

  .headerWriter {
    flex-direction: column;
    gap: 3px !important;
  }

  .phonehWriter {
    h5 {
      margin-bottom: 5px !important;
    }
  }

  .itemWriter {
    flex-direction: row !important;
    justify-content: flex-start !important;
    gap: 0px !important;
    background-color: #9844AD;
    border-radius: 10px;
    padding: 5px 5px;
    width: 100px;

    h6 {
      color: white !important;
      width: 70px !important;
    }

    p {
      padding: 0px 0px !important;
      margin-left: 4px;
      width: 15px;
    }
  }

  .valueSetting {
    font-size: 9px !important;
  }

}

@media screen and (max-width: 420px) {

  .itemSetting {
    border-top: none!important;
    border-right: none!important;
    border-left: none!important;

    svg,{
      display: none;
    }

    .valueSetting{
      font-size: 11px!important;
    }


  }
}

@media screen and (max-width: 310px) {


  .modifySettingsBtn {
    width: 90% !important;
  }
}


@media screen and (max-width: 300px){
  .valueSetting{
    font-size: 8px!important;
  }
}

@media (width <=360px) {
  .menuContainer {
    .item {
      p {
        display: none;
      }

      svg {
        width: 25px !important;
      }

      .haveNotif {
        right: 0px !important;
        top: 1px !important;
      }
    }
  }

  .activeItem {
    svg {
      border-bottom: solid 2px rgba(255, 255, 255, 0.91);
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: 250px){
  .musicToggle , .toggleBtn{
    width: 40px!important;
    height: 25px!important;
    label{
      width: 20px;
      height: 20px;
    }
  }

  .toggleBtn input[type="checkbox"]:checked+label {
    background-color: white;
    transform: translateX(19px);
  }

  .musicToggle input[type="checkbox"]:checked+label {
    background-color: white;
    transform: translateX(19px);
  }
}