@import "styles/utils/var";

.container {
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.searchContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    width: auto;
  }

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    margin-bottom: 30px;

    svg {
      color: #343d46;
      height: 23px;
    }
  }

  button {

    position: relative;
    z-index: 2;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
      width: 30px;
      height: 30px;
      background-color: #e94f37;
      border-radius: 50%;
    svg{
      width: 14px;
      color: white!important;
    }
  }

  .labelSearch {
    position: absolute;
    left: 36px;
    top: 15px;
    z-index: 1;
    text-align: left;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: $primaryFont;
    transition: 0.4s;
  }

  .inputSearch {
    position: relative;
    z-index: 2;
    cursor: text;
    background: none;
    outline: none !important;
    font-family: "Montserrat",
      sans-serif;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    padding: 14px 5px;
    width: 80%;

  }

  .inputSearch:focus+.labelSearch {
    top: -13px;
    font-size: 10px;
  }

  .inputSearch:not(:placeholder-shown).inputSearch:not(:focus)+.labelSearch {
    top: -13px;
    font-size: 10px;
  }
}

.containerCardPreview {
  display: flex;
  align-items: center;
  justify-content: center !important;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  overflow: hidden;

  .sortContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 1300px;
    margin-bottom: 30px;

    h3 {
      font-family: $primaryFont;
      font-size: 15px;
      font-weight: 900;
      border-bottom: 2px solid rgba(84, 89, 95, 0.12);
      padding-bottom: 10px;
      margin-bottom: 0px;
    }

    div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 20px;

      button {
        cursor: pointer;
        margin-right: 5px;
        border-radius: 20px;
        font-size: 11px;
        padding: 10px 20px;
        font-family: $primaryFont;
        color: #1C232B;
        transition: 0.1s;
        font-weight: bold;
      }

      .activeBtn {
        transition: 0.1s;
        background-color: #9844AD !important;
        color: $white !important;
      }
    }
  }

}

.seeMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  .err {
    margin-top: -150px;
  }
}

.seeMore {
  cursor: pointer;
  color: #9844AD;
  font-family: 'Montserrat';
  font-size: 12px;
}

.previewContainer {
  margin-top: 50px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.containerList {
  width: 1300px;
  margin-top: 5vh;
}

.dark {
  background-color: $darkMode2;

  .inputContainer {
    border-bottom:1px solid  $colorTextD;

    svg {
      color: $colorTextD;
    }

    input::placeholder {
      color: $colorTextD
    }

    input {
      color: $colorTextD;
    }
  }

  .sortContainer {
    color: $colorTextD;

    h3 {
      border-bottom: 1px solid $colorBorder;
    }

    div button {
      &:hover {
        background-color: $darkMode;
      }
      color: $colorTextD;
    }
  }
}

@media screen and (max-width: 1600px) {

  .containerList,
  .sortContainer {
    width: 90%;
  }
}

@media screen and (max-width: 1400px) {

  .containerList,
  .sortContainer {
    width: 90% !important;
  }
}

@media screen and (max-width: 1150px) {

  .containerList,
  .sortContainer {
    width: 95% !important;
  }
}

@media screen and (max-width: 900px) {
  .sortContainer {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .err {
    margin-top: -20px !important;
  }

  .containerList {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 610px) {

  .containerList,
  .sortContainer {
    width: 90% !important;
  }

  .seeMoreContainer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .err {
    padding: 2% !important;
    text-align: center;
  }

  .searchContainer {
    form {
      flex-direction: column;
      gap: 20px;

      button {
        padding: 15px 20px !important;
        border-radius: 5px;
        gap: 10px;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .searchContainer {
    form {
      padding: 0px 20px;
    }
  }
}