@import "styles/utils/var";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 3vh;
  .content{
    width: 30%;

    h4 {
      &:after {
        content: attr(data-after);
        position: absolute;
        left: -6%;
        bottom: -10%;

        opacity: 0.08;
        font-size: 15vh;
      }

      position: relative;
      font-size: 10vh;
      font-family: "Branch", sans-serif;
      font-weight: bold;
      white-space: pre;
      -webkit-text-stroke-width: 1px;
      text-align: center;
    }



    p {
      text-align: center;
      font-size: 15px;
      opacity: 0.8;
      font-family: $primaryFont;
    }
  }

  .image {
    height: 30vh;
  }


}

.darkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-bottom: 3vh;
  .content{
    width: 30%;

    h4 {
      &:after {
        content: attr(data-after);
        position: absolute;
        left: -6%;
        bottom: -10%;
        opacity: 0.08;
        font-size: 15vh;
      }

      position: relative;
      font-size: 10vh;
      font-family: "Branch",
      sans-serif;
      font-weight: bold;
      color: white;
      white-space: pre;
      -webkit-text-stroke-width: 1px;
      text-align: center;
    }



    p {
      text-align: center;
      font-size: 15px;
      font-family: "Rebond Grotesque", sans-serif;
      color: white;
    }
  }

  .image {
    height: 30vh;
  }
}


@media screen and (max-width: 1500px) {
  .container {
    gap: 100px;
  }
}

@media screen and (max-width: 1200px) {

  .container {
    gap: 20px;
  }

  .content {
    width: 50% !important;

    h4 {
      &:after {
        left: 0% !important;
      }
    }
  }

  .image {
    object-fit: contain;
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 5vw;
    margin-top: 30px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    padding-left: 0;
  }

  .image {
    height: 20vh !important;
  }

  .content {
    width: 500px !important;
  }
}

@media screen and (max-width: 600px) {
  .content {
    h4 {
      &:after {
        left: -10% !important;
        font-size: 22vw !important;
      }

      font-size: 15vw !important;
    }
  }
}

@media screen and (max-width: 550px) {
  .content {
    padding: 0 30px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 530px){
  .container{
    margin-bottom: 50px!important;
  }
}

@media screen and (max-width: 500px){
  .content{
    h4{
    }
  }
}

@media screen and (max-width: 400px) {
  .content {
    h4 {}
  }
}