@import "../../utils/var";

.container {
  &::-webkit-scrollbar {
    height: 2px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(152, 68, 173, 0.15);
  }
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  white-space: pre;
  .list {
    display: inline-flex;
    gap: 20px;
  }

  .book {
    &:hover {

      a,
      p {
        color: $darkBrown;
        transition: 0.1s;
      }
    }

    opacity: 0.9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    width: auto;
    margin: 2px;

    img {
      margin-bottom: 5px;
      object-fit: cover;
      height: 60px;
      width: 60px;
    }

    a,
    p {
      &:first-letter {
        text-transform: uppercase;
      }

      transition: 0.1s;
      text-align: center;
      text-decoration: none;
      color: rgba(28, 35, 43, 0.88);
      font-weight: bold;
      font-family: "Branch", sans-serif;
    }
  }

}

.active {

  a,
  p {
    color: $darkBrown !important;
    -webkit-text-stroke-width: 0.5px;
  }
}

/* Theme sombre */
.darkContainer {
  &::-webkit-scrollbar {
    height: 3px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(164, 160, 165, 0.15);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10vh;
  margin: 4vh 0;
  background-color:  #0e0e10;

  .list {
    display: inline-flex;
    gap: 20px;
  }

  .book {
    &:hover {
      a,
      p {
        color: white;
        transition: 0.1s;
      }
    }

    opacity: 0.9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60px;

    img {
      margin-bottom: 10px;
      object-fit: cover;
      height: 60px;
      width: 60px;
    }

    a,
    p {
      &:first-letter {
        text-transform: uppercase;
      }

      transition: 0.1s;
      text-align: center;
      text-decoration: none;
      color:  hsla(0deg, 100%, 100%, 0.88);
      font-weight: bold;
      font-family: "Lobster",
      sans-serif;
    }
  }

}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .container {
    margin-top: 60px;
  }
  .darkContainer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1030px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .darkContainer {
    justify-content: center;
    align-items: center;
  }
}



@media screen and (max-width: 700px) {
  .container {
    justify-content: flex-start;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 10px;
  }

  .darkContainer {
    justify-content: flex-start;
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 10px;
  }
}