@import "styles/utils/var";
.container{
  &:hover{
    transform: translateY(-10px);
    transition: 0.2s;
    border-color: rgba(255, 255, 255, 0.18);
    opacity: 1;
  }
  transition: 0.2s;
  opacity: 0.8;
  display: inline-flex;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  flex-direction: column;
  position: relative;
  height: 180px;
  width: 180px;

  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 10px;

  svg{
    fill: white;
    margin-bottom: 2%;
    width: 60px;
    object-fit: contain;
  }
  h5{
    margin-top: 10%;
    z-index: 1;
    color: white;
    font-family: 'Rebond Grotesque',sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
}


.action{
  background-color: #9844AD;
}

.horror{
  background-color: #e94f37;
}
.drama{
  background-color: #9844AD;
}

.fantaisie{
  background-color: #e94f37;
}
.sf1{
background-color: #9844AD;
}


.null{
  background-color: #9844AD;
}