@import "styles/utils/var";
.container{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  gap: 15px;
  height: 300px;
  width: 220px;

  .thumbnaiLike{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: #e94f37;
    box-shadow: $shadow;
    padding: 5px 12px;
border-radius: 10px;
    p{
      font-size: 10px;
      font-family: 'Montserrat',sans-serif;
      color: white;
    }
    svg{
      width: 13px;
      color: white;
    }
  }


  .containerImg{
/*    &:hover{
      &:before{
        opacity: 0;
        transition: 0.2s opacity;
      }
      .thumbnaiLike{
        transition: 0.1s;
      }
    }*/
    &:before{
      transition: 0.2s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.58));
      opacity: 1;
      border-radius: 10px;
    }

    position: relative;
    border-radius: 10px;
    box-shadow: 5px 3px 4px rgba(100, 96, 96, 0.44);
    height: 240px;
    width: 100%;
    img{
      height: 100%;
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
    }

    h4{
      &:first-letter{
        font-size: 18px;
        text-transform: uppercase;
      }
      position: absolute;
      bottom: 8%;
      left: 5%;
      color: white;
      font-size: 14px;
      font-weight:bold;
      font-family: 'Poppins',sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  .label{
    font-family: 'Montserrat Alternates',sans-serif;
    .content{
      display: flex;
      justify-content: space-between;
    }

    h5{
      font-size: 14px;
      font-family: 'Montserrat',sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-weight: bold;
      letter-spacing: 0px;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    .titleDash{
      &:first-letter{
        text-transform: uppercase;
      }
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }
    .pseudo{
      font-family: 'Poppins',sans-serif;
      font-size: 12px;
      color: rgba(92, 92, 96, 0.76);
    }

    .like{
display: flex;
      justify-content: start;
      align-items: center;
      font-size: 12px;
      gap: 4px;
      font-weight: bold;
      svg{
        width: 14px;
        color: #9844AD;
      }
    }

    .nbChapters{
      font-size: 11px;
    }
  }
}



