@import "styles/utils/var";

.container{
  position: relative;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(28, 35, 43, 0.05);
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  img{
    object-fit: contain;
    margin-bottom: 10px;
  }
  span{
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    svg{
      width: 13px;
    }
  }
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: 'Montserrat',sans-serif;
  color: rgba(90, 102, 115, 1);
  font-size: 12px;
  width: 100%;
}

.value{
  font-family: 'Poppins',sans-serif;
font-size: 18px;
  margin-top: 5px;
  letter-spacing: 1px;
  font-weight: bold;
}


.chapters{
  color: rgba(28, 35, 43, 0.36);
  background-color: rgba(28, 35, 43, 0.09);
}

.eye{
background-color: rgba(152, 68, 173, 0.15);
  color: rgba(152, 68, 173, 0.6);
}

.like{
  background-color: rgba(233, 79, 55, 0.15);
  color: rgba(233, 79, 55, 0.42);
}

.clock{
  color: rgba(28, 35, 43, 0.36);
  background-color: rgba(28, 35, 43, 0.09);
}


.date{
  font-family: 'Lato',sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 5px;

}