.container{
  font-family: "Rebond Grotesque", sans-serif;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px 10px;
  width: min-content;
  
  .action{
    background-color: rgba(96, 135, 217, 0.21) !important;
    color: #5a80d0!important;
  }
  
  .horreur{
    background-color: rgba(224, 68, 68, 0.21) !important;
    color: #e04444!important;
  }
  
  .science-fiction{
    background-color: rgba(152, 68, 173, 0.21) !important;
    color: #9844AD!important;
  }
  
  .comédie{
    background-color: rgba(60, 173, 65, 0.21) !important;
    color: #3cad41!important;
  }
  
  .fantaisie{
    background-color: rgba(60, 173, 65, 0.21) !important;
    color: #3cad41!important;
  }
  
  .drama{
    background-color: rgba(224, 68, 68, 0.21) !important;
    color: #e04444!important;
  }
}