@import "../../../styles/utils/var";

.container {
  &:hover {
    background-color: $grey;
  }

  transition: 0.1s;
  position: relative;
  display: flex;
  cursor: pointer;
  width: 340px;
  height: 140px;
  padding: 10px;
  border-bottom: solid 1px rgba(84, 89, 95, 0.09);
  gap: 20px;

  .thumbnailLike {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    right: 2%;
    top: 5%;

    p {
      font-family: $primaryFont;
      font-weight: bold;
      font-size: 10px;
      letter-spacing: 1px;
      color: #1C232B;
    }

    svg {
      color: #9844AD;
      width: 14px;
    }
  }

  .topThumbnail {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e94f37;
    top: -5px;
    right: -5px;

    p {
      font-family: $primaryFont;
      color: white;
    }

    svg {
      width: 10px;
      color: white;
    }
  }

  .containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
      border-radius: 5px;
      width: 78px;
      height: 104px;
      object-fit: cover;
      box-shadow: $shadow;
    }
  }

  .containerContent {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 104px;
    flex: 1;

    h5 {
      overflow: hidden;
      text-align: left;
      width: auto;
      font-size: 15px;
      font-weight: bold;
      font-family: $primaryFont;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      word-break: break-word;
      -webkit-box-orient: vertical;
    }

    .stats {
      display: flex;
      flex: 1;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      width: 100%;

      div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .likes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      font-size: 12px;
      font-weight: bold;
      font-family: $primaryFont;

      svg {
        margin-left: 2px;
        width: 15px;
        color: #9844AD;
      }
    }

    .nbChapters {
      display: flex;
      align-items: center;
      font-size: 11px;
      color: rgba(28, 35, 43, 0.8);
      font-family: $primaryFont;
      font-weight: bold;

      svg {
        margin-left: 2px;
        width: 14px;
        color: #9844AD;
      }
    }

    .author {
      max-width: 100px;
      display: flex;
      align-items: center;
      font-size: 11px;
      color: rgba(28, 35, 43, 0.8);
      font-family: $primaryFont;
      font-weight: bold;
    }
  }
}

.dark {
  &:hover {
    background-color: $darkModeHoverBtn;
  }

  background-color: $darkMode;
  border-bottom: solid 1px rgba(128, 128, 128, 0.16);
  border: solid 1px rgba(128, 128, 128, 0.06);
  border-radius: 5px;
  .containerContent {
    color: $colorTextD;

    .stats {
      span {
        color: $colorTextD;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 310px;
  }
}

@media screen and (max-width: 680px) {
  .container {


    width: 280px;

    h5 {
      font-size: 14px;
    }

    .stats {
      gap: 12px;
    }

    .nbChapters {
      div {
        gap: 20px !important;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .container {

    height: auto;
    width: 100%;
    min-width: 400px !important;

    img {
      width: 110px;
      height: 130px;
    }

    .containerContent {
      padding-top: 0;
      height: auto !important;
    }

    h5 {
      font-size: 16px !important;
      margin-bottom: 10px;
    }

    .likes {
      padding: 10px 10px !important;
    }
  }
}

@media screen and (max-width: 470px) {
  .container {
    min-width: 350px !important;
  }
}

@media screen and (max-width: 400px) {
  .container {
    min-width: auto !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 320px) {
  .container {
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    flex-direction: column;

    img {
      height: 100px !important;
      width: 100px !important;
      border-radius: 50% !important;
      object-fit: cover;
      box-shadow: $shadow;
    }
  }

  .containerContent {
    justify-content: center;
    align-items: center !important;
    text-align: center;

    h5 {
      font-size: 17px;
      margin-top: 5px;
      padding-bottom: 10px;
      width: 200px;
      text-align: center;
    }

    .stats {
      margin-top: 0 !important;
      gap: 10px;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: row !important;

      div {
        width: auto;
      }
    }
  }

  .nbChapters {
    display: none !important;
  }

  .likes {
    position: initial !important;
  }

  .stats {
    div {
      align-items: center !important;
      justify-content: space-between;
    }
  }

}