@import "../../../styles/utils/var";

.container {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 370px;
  height: 104px;
}


.thumbnailLike {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  right: 2%;
  top: 5%;

  p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #1C232B;
  }

  svg {
    color: #9844AD;
    width: 14px;
  }

}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 4%;

  img {
    border-radius: 5px;
    width: 78px;
    height: 104px;
    object-fit: cover;
  }
}

.containerContent {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  flex: 1;


  h5 {
    &:first-letter {
      font-size: 18px;
    }

    text-transform: capitalize;
    text-align: left;
    width: auto;
    font-size: 15px;
    font-family: "Rebond Grotesque", sans-serif;
    color: rgba(28, 35, 43, 0.94);
    font-weight: 600;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-word;
    -webkit-box-orient: vertical;
  }

  .summary {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    font-style: italic;
    word-break: break-word;
    -webkit-box-orient: vertical;
    font-size: 11px;
    min-height: 50px;
    color: rgba(28, 35, 43, 0.87);
    font-family: "Montserrat", sans-serif;
  }

  .stats {
    margin-top: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .nbChapters {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgba(28, 35, 43, 0.8);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

    svg {
      margin-left: 2px;
      width: 14px;
      color: #9844AD;
    }
  }
}


@media screen and (max-width: 1300px) {
  .container {
    width: 310px;
  }
}

@media screen and (max-width: 650px) {
  .container{
    width: 280px;

    h5{
      font-size: 14px;
    }

    .stats{
      gap: 2px;
    }

  }
}


@media screen and (max-width: 610px){
  .container{
    width: 100%;

    img{
      width: 110px;
      height:130px;
    }
  }
}