.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list{
  display: grid;
  justify-content: center;
  flex-direction: column;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8vh 20px;
  width: 100%;
}

@media screen and (max-width: 1040px){
  .list{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px){
  .list{
    gap: 6vh 5px;
  }
}


@media screen and (max-width: 620px){
  .list{
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 100px;
  }
}

@media screen and (max-width: 350px){
  .list{
    gap: 40px;
  }
}