.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list {
  display: grid;
  justify-content: center;
  flex-direction: column;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vh 5px;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .card::after {
    right: -2.6vw;
  }
}

@media screen and (max-width: 1380px) {
  .card::after {
    right: -9%;
  }
}

@media screen and (max-width: 1340px) {
  .card::after {
    right: -10%;
  }
}

@media screen and (max-width: 1320px) {
  .card::after {
    right: -2vw;
  }
}

@media screen and (max-width: 1300px) {
  .card::after {
    right: -11%;
  }
}


@media screen and (max-width: 1290px) {
  .card::after {
    right: -11%;
  }
}




@media screen and (max-width: 1240px) {
  .card::after {
    right: -10%;
  }
}

@media screen and (max-width: 1200px) {
  .card::after {
    right: -8%;
  }
}


@media screen and (max-width: 1130px) {
  .card::after {
    right: -7%;
  }
}

@media screen and (max-width: 1110px) {
  .card::after {
    display: none;
  }
}

@media screen and (max-width: 1040px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    width: 100%;
  }

  .card::after {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .container {
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 700px) {
  .list {
    gap: 3vh 15px;
  }
}


@media screen and (max-width: 620px) {
  .list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .list {
    justify-items: center !important;
    align-items: center !important;
  }
}

@media screen and (max-width: 350px) {
  .list {
    gap: 40px;
  }
}