@import "styles/utils/var";


.close{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e04444;
  svg{
    width: 16px;
    color: white;
  }
}

.check{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cad41;
  svg{
    width: 16px;
    color: white;
  }}


.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: white;
  border: rgba(28, 35, 43, 0.09) solid 1px;
  padding: 8px 10px;
  font-family: 'Rebond Grotesque',sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  svg{
    width: 14px;
    color: #1C232B;
  }
}

.seeMore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  button{
    background-color: #e04444;
    color: white;
    font-family: 'Montserrat Alternates',sans-serif;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 25px;
    svg{
      width: 12px;
    }
  }

}

.seeMoreText{
font-size: 11px;
  color: #9844AD;
  font-family: 'Montserrat Alternates',sans-serif;
}

.headphone{
  &:active{
    transform: scale(0.8);
    transition: 0.2s;
  }
  transition: 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: $shadow;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: rgba(28, 35, 43, 0.15) solid 1px;
  cursor: pointer;

  svg{
    color: rgba(28, 35, 43, 0.37);
    width: 22px;
  }


  .animation{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #9844AD;
    border-radius: 50%;
    opacity: 0;
    animation: pulse 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

}

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes grow {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.home{
  background-color: #e94f37!important;
  .animation{
    background-color: white!important;
  }
  svg{
    color: white;
  }
}


@media screen and (max-width: 300px){
  .filter{
    font-size: 10px;
    padding: 10px 10px!important;
    svg{
      width: 10px;
    }
  }
}