@import "styles/utils/var";


.close{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e04444;
  svg{
    width: 16px;
    color: white;
  }
}

.check{
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cad41;
  svg{
    width: 16px;
    color: white;
  }}


.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: white;
  border: $divBorder;
  padding: 5px 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  border-radius: 5px;
  svg{
    width: 12px;
    color: #54595F;
  }
}