.container {
    display: flex;
    label {
        width: 93px;
        height: 49px;
        position: relative;
        display: block;
        background: #ebebeb;
        border-radius: 50px;
        box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
        cursor: pointer;
        transition: 0.3s;
    }
    label:after {
        content: "";
        width: 45px;
        height: 45px;
        position: absolute;
        top: 2px;
        left: 2px;
        background: linear-gradient(180deg, #ffcc89, #e94f37);
        border-radius: 45px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        // transition: transform left 0.3s;
        // transition: width 0.3s;
        // transition: backgroung 0.3s;
        transition: 0.3s;
    }
    input {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    input:checked + label {
        background: #242424;
    }
    input:checked + label:after {
        left: 46px;
        // transform: translate(-100%);
        background: linear-gradient(180deg, #777, #3a3a3a);
    }
    // label:active:after {
    //     width: 55px;
    //     transition: 0.3s;
    // }
    label svg {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        z-index: 100;
    }
    label svg.sun {
        left: 9px;
        fill: #fff;
        transition: 0.3s;
    }
    label svg.moon {
        left: 56px;
        fill: #7e7e7e;
        transition: 0.3s;
    }
    input:checked +label svg.sun {
        fill: #7e7e7e;
    }
    input:checked +label svg.moon {
        fill: #fff;
    }
}