@import "styles/utils/var";
.containerRead{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  min-width: 30px;
  background-color: #1C232B;
color: white;
  font-size: 11px;
  font-family: 'Inter',sans-serif;
  border-radius: 8px;
  font-weight: 600;
  svg{
    width: 12px;
    color: white;
  }
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

}

.containerLinkBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  background-color: $purpleLight;
  color: white;
  font-size: 11px;
  font-family: 'Montserrat Alternates',sans-serif;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

  svg{
    width: 12px;
    color: white;
  }
}


.containerDeleteBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 12px;
  background-color: #1C232B;
  color: white;
  font-size: 11px;
  font-family: 'Inter',sans-serif;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

  svg{
    width: 12px;
    color: white;
  }
}


.containerGoogleBtn{
  &:active{
    transform: scale(0.8);
    transition: 0.2s;
  }
  &:hover {
    background-color: rgb(243, 243, 243) !important;
    transition: 0.3s;
  }
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-right: 10px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 12px;
  width: 100%;
  border: 1px solid rgba(28, 35, 43, 0.14);
  background-color: white!important;
  span{
    font-weight: bold;
  }
  svg{
    // border-right: solid 1px rgba(28, 35, 43, 0.06);
    height: 100%!important;
    margin-right: 8px;
    width: 30px;
    padding: 10px 2px;
  }
}

