@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= EB+Garamond:wght@500 & display=swap');

@font-face {
    font-family: 'Branch';
    src: url(../../assets/Branch/Branch.otf);
    src: url(../../assets/Branch/Branch.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque';
    src: url(../../asset/Rebond/Rebond.Grotesque.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque-italic';
    src: url(../../asset/Rebond/Rebond-Grotesque-Italic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque-bold';
    src: url(../../asset/Rebond/Rebond-Grotesque-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rebond Grotesque-semibold';
    src: url(../../asset/Rebond/Rebond-Grotesque-Semibold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Santral-Italic';
    src: url(../../asset/Santral/Santral-lighitalic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Santral-Regular';
    src: url(../../asset/Santral/Santral-regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Regular';
    src: url(../../asset/Open-Sans/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Semibold';
    src: url(../../asset/Open-Sans/OpenSans-Semibold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Italic';
    src: url(../../asset/Open-Sans/OpenSans-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Bold';
    src: url(../../asset/Open-Sans/OpenSans-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans-Light';
    src: url(../../asset/Open-Sans/OpenSans-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Semibold-Italic';
    src: url(../../asset/Open-Sans/OpenSans-SemiboldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-ExtraBold';
    src: url(../../asset/Open-Sans/OpenSans-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal;
}

