/*        Colors        */
$purple: #9844ad;
$purple2: #635291;
$orange: #e94f37;
$black: #212325dc;
$purpleLight: rgba(152, 68, 173, 1);
$beige: #e5ccb8;
$white: #fcfaf7;
$brown: rgba(110, 100, 89, 0.5);
$blue: #6281a0;
$lightBlue: #5a6673;
$grey: #f5f8f8;
$homeHover: #273c42cc;
$dark: #131045;
$darkMode : #18181b;
$darkMode2 :#0e0e10;
$darkMode3 :#1c232b;
$darkMode4 :#53535f61;
$darkMode5 :rgba(83,83,95,.38);
$darkMode6 :#1f1f23;
$darkModeHoverBtn :rgba(83,83,95,.48);
$darkModeHoverBtn2 :#020303;
$colorTextD : #efeff1;
$colorTextD2 : #cccccc;
$pink: #ff99c8;
$green: #1bce1b;
$pink2: #f13789;
$darkBrown: rgb(66, 60, 53);
$purpleHover: #8f32a7;
$orangeHover : #da462f;
$blackHover : #020303;
$purpleLightTransparent: rgba(152, 68, 173,0.2);


/*        Borders        */
$border: rgba(28, 35, 43, 0.14);
$divBorder:solid 1px rgba(84, 89, 95, 0.16);
$colorBorder : rgba(94, 103, 112, 0.5);
$colorBorder2 :rgba(94, 103, 112, 0.164);


/*        Shadows        */
$shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
$shadowText: 2px 3px 10px rgba(0,0,0,0.3);


/*        Fonts        */
$primaryFont: 'Pt Sans',sans-serif;
$primaryFontItalic: "Open Sans-Italic", sans-serif;
$branch: "Branch",sans-serif;
$lato: "Lato", sans-serif;
$secondaryFont: "Rebond Grotesque", sans-serif;
