$purple: #635291;
$purpleLight: rgba(152, 68, 173, 1);
$beige: #e5ccb8;
$white: #fcfaf7;
$brown: rgba(110, 100, 89, 0.5);
$blue: #6281a0;
$lightBlue: #5a6673;
$grey: #f5f8f8;
$dark: #131045;
$pink: #ff99c8;
$pink2: #f13789;
$border: rgba(28, 35, 43, 0.14);
$divBorder:solid 1px rgba(84, 89, 95, 0.16);
$darkBrown: rgb(66, 60, 53);
$shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
$shadowText: 2px 3px 10px rgba(0,0,0,0.3);
$primaryFont: 'Pt Sans',sans-serif;
$primaryFontItalic: "Open Sans-Italic", sans-serif;
$branch: "Branch",sans-serif;
$secondaryFont: "Rebond Grotesque", sans-serif;
$purpleLightTransparent: rgba(152, 68, 173,0.2);
