$purple: #635291;
$purpleLight: rgba(152, 68, 173, 1);
$beige: #e5ccb8;
$white: #fcfaf7;
$brown: rgba(110, 100, 89, 0.5);
$blue: #6281a0;
$lightBlue: #5a6673;
$grey: #f5f8f8;
$dark: #131045;
$pink: #ff99c8;
$border: rgba(28, 35, 43, 0.14);
$darkBrown: rgb(66, 60, 53);
$shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
$shadowText: 2px 3px 10px rgba(0,0,0,0.3);

$purpleLightTransparent: rgba(152, 68, 173,0.2);
