@import "styles/utils/var";

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  img{
    width: 150px;
    margin-bottom: 30px;
  }

  h1{
    font-family: $primaryFont;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
  }

  p{
    font-family: $primaryFont;
    color: rgba(28, 35, 43, 0.8);
    padding: 0px 10px;
    text-align: center;
    .retry{
      color: #9844AD;
      text-decoration: underline;
      font-weight: initial!important;
      cursor: pointer;
    }
    span{
      font-weight: bold;
    }
  }

  button{
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }
    transition: 0.2s;
    margin-top: 20px;
    background-color: #9844AD;
    padding: 8px 20px;
    font-family: $primaryFont;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
  }
}