.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100%;

  img{
    width: 200px;
  }

  h1{
    font-family: 'Montserrat',sans-serif;
    color: #1C232B;
    font-weight: bold;
    font-size: 1.1vw;
  }

  p{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    text-align: center;
    color: #1C232B;
    .retry{
      color: #9844AD;
      text-decoration: underline;
      font-weight: initial!important;
      cursor: pointer;
    }
    span{
      font-weight: bold;
    }
  }

  button{
    background-color: #9844AD;
    padding: 8px 20px;
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
  }
}