@import "styles/utils/var";
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;

  img{
    margin-top: -6%;
    padding: 1%;
    height: 20vh;
    width: 220px;
    border-radius: 24px;
    object-fit: contain;
  }

  h4{
    font-size: 24px;
    font-family: 'Rebond Grotesque',sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Rebond Grotesque',sans-serif;
    color: rgb(28, 35, 43);
font-size: 14px;
  }

  button{
    color: white;
    font-family: 'Poppins',sans-serif;
    background-color: #9844AD;
    font-weight: bold;
    font-size: 10px;
    border-radius: 4px;
    box-shadow: $shadow;
    padding: 10px 30px;
  }

}