@import "styles/utils/var";
.container{
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.containerMain{
  display: flex;
  height: 100vh;
  width: 100%;

}
.verticalMenuContainer{
  height: 100%;
  width: 15%;
}
.containerData{
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: scroll;
  scroll-behavior: smooth;
  gap: 2%;

}
.errContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.headerList{
  width: 80%;
  margin-top: 1%;
  h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: 'Rebond Grotesque',sans-serif;
    font-weight: bold;
    color: #1C232B;
    gap: 10px;
    svg{
      width: 20px;
    }
  }

}
.sortContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 2%;
button{
  padding: 10px 15px;
}
  p{
    font-family: $primaryFont;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: rgba(152, 68, 173, 0.21);
    color: #9844AD;
    font-size: 11px;
  }
}
.listContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80%;
}
.seeMoreContainer{
  margin-top: 10px;
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .seeMoreText {
    width: 100px;
    z-index: 2;
    background-color: white;
    font-size: 12px;
    color: #9844AD;
    font-family: $primaryFont;
    font-weight: bold;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.07);
  }
}
.scrollbar{
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background:transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(152, 68, 173, 0.24);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(152, 68, 173, 0.24);
  }
}

.mainHasNoBooks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0% 5%;

  .hasNotWriteContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentNoBooks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    color: rgba(28, 35, 43, 0.87);
    h3{
      font-size: 24px;
      color: #1C232B!important;
      font-family: $primaryFont;
      font-weight: bold;
    }
    p{
      font-family: $primaryFont;
      font-size: 15px;
      text-align: left;
      line-height: 25px;
      font-weight: bold;
      margin: 10px 0;

    }

    h5{
      font-family: 'Rebond Grotesque',sans-serif;
      font-size: 15px;
      font-weight: bold;
      margin-top: 20px;
    }

    ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-top: 10px;
      li{
        font-size: 14px;
        font-family: 'Rebond Grotesque',sans-serif;
        font-weight: bold;
        color: #9844AD;
      }
    }

    button{
      &:active{
        transform: scale(0.8);
        transition: 0.2s;
      }
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: $shadow;
      padding: 15px 15px;
      font-size: 11px;
      font-weight: bold;
      font-family: $primaryFont;
      background-color: #9844AD;
      width: 160px;
      color: white;
      border-radius: 5px;
      gap: 8px;
      svg{
        width: 15px;
      }
    }
  }

  .imgNoBooks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
img{
  width: 15vh;
}
  }
}



@media screen and (max-width: 1400px){
  .verticalMenuContainer{
    width: 20%;
  }

  .list{
    width: 90% !important;
  }
}

@media screen and (max-width: 1100px){
  .verticalMenuContainer{
    width: 22%;
  }
}

@media screen and (max-width: 1000px){

  .mainHasNoBooks{
    padding: 0% 2% !important;
  }
  .hasNotWriteContainer{
    flex-direction: column-reverse!important;

    h3{
      margin-top: 20px;
      text-align: center;
    }
    p{
      text-align: center!important;
    }

    .contentNoBooks{
      justify-content: center;
      width: 80% !important;
      align-items: center;
      button{
        padding: 10px 30px ;
      }
    }
  }
}

@media screen and (max-width: 1000px) and (max-height: 500px) {
  .verticalTabContainer{
    display: none;
  }

  .sortContainer{
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .containerData{
    overflow-y: initial!important;
    height: auto!important;
  }

  .containerMain{
    height: auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 700px){

  .mainHasNoBooks{
    margin-top: -10%;
  }
  .listContainer {
    margin-bottom: 60px;
  }
  .containerData{
    gap: 0%;
  }

  .headerList{
    margin-top: 20px;
  }
  .sortContainer{
    margin-top: 20px;
    margin-bottom: 40px;
    p{
      font-size: 10px;
      font-weight: 500;
    }
  }

  .errContainer{
    margin-top: -10vh;
  }
}

@media screen and (max-width: 560px){
  .listContainer{
    height: auto!important;
    overflow-y: initial!important;
  }

  .containerMain{
    min-height: 90vh!important;
  }

  .containerData {
    padding-bottom: 80px
  }

  .seeMoreContainer{
    margin-bottom: 0!important;
  }
}

@media screen and (max-width: 750px) and (max-height: 500px) and (orientation: landscape){
  .container{
    overflow-x: scroll;
    height: auto;
  }
  .verticalMenuContainer{
    display: none!important;
  }
}



@media screen and (max-width: 300px){
  .sortContainer{
    p{
      font-size: 10px!important;
    }
  }
}