@import "styles/utils/var";
.container{
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #faf8f8;
}
.containerMain{
  display: flex;
  height: 100vh;
  width: 100%;
}

.verticalMenuContainer{
  height: 100%;
  width: 15%;
}

.containerData{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2%;
}

.headerList{
  width: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
  h4{
    text-align: center;
    font-size: 0.8vw;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    color: #1C232B;
  }

}

.sortContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 2%;
button{
  padding: 10px 15px;
}
  p{
    font-family: 'Montserrat Alternates',sans-serif;
    border-radius: 5px;
    padding: 6px 16px;
    background-color: rgba(152, 68, 173, 0.21);
    color: #9844AD;
    font-size: 14px;
  }
}

.listContainer{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  gap: 10px;
  flex: 1;
}

.list{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80%;
}

.seeMoreContainer{
  margin-top: 10px;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
  button{
    font-size: 12px!important;
  }
}

.scrollbar{
  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background:transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(152, 68, 173, 0.24);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(152, 68, 173, 0.24);
  }
}
