@import "styles/utils/var";

.container{
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.containerMain{
  display: flex;
  height: 100vh;
  width: 100%;
}

.verticalMenuContainer{
  height: 100%;
  z-index: 1;
  width: 15%;
}

.containerData{
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #e1e9ef;
}

.errContainer{
  display: flex;
  flex: 1;
  background-color: white;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 3%;
  background-color: white;
  box-shadow: $shadow;

  .list{
    display: flex;
    align-items: center;
    gap: 10px;

    svg{
      width: 20px;
      color: rgba(28, 35, 43, 0.71);
    }

    .arrow{
      width: 15px;
    }

    h6{
      font-weight: bold;
      font-family: 'Montserrat Alternates',sans-serif;
      font-size: 14px;
      cursor: pointer;
      text-decoration: underline;
    }
    p{
      font-family: 'Montserrat',sans-serif;
      font-size: 12px;
      color: rgba(28, 35, 43, 0.89);
      span{
        font-weight: bold;
        color: #9844AD;
      }
    }


  }

  .btnList{
    display: flex;
    gap: 10px;

    .iconDiv{
      &:hover{
        background-color: #9844AD;
        svg{
          transition: 0.1s;
        }
      }
      transition: 0.1s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      cursor: pointer;
      background-color: rgba(28, 35, 43, 0.32);

      svg{
        color: white;
        width: 15px;
      }
    }

    .eyeDiv{
      transition: 0.1s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      cursor: pointer;
      background-color: #9844AD;
      svg{
        color: white;
        width: 15px;
      }
    }
  }

  .draft{
    background-color: rgba(28, 35, 43, 0.32);
  }

  button{
    transition: 0.1s;
    background-color: rgba(28, 35, 43, 0.32);
    padding: 10px 35px;
    font-size: 11px;
    color: white;
    box-shadow: $shadow;
    font-weight: bold;
    font-family: 'Montserrat Alternates',sans-serif;
  }
}

.containerSecond{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding-left: 2%;
  padding-bottom: 1%;
  background-color: white;


  .containerText{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2% 4% 0%;
    width: 75%;
    overflow: hidden;
    position: relative;
    height: 100%;
    border: solid 1px rgba(28, 35, 43, 0.12);

    .toogleMenuContainer{
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: -2vw;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      background-color: #9844AD;
      border-radius: 50%;



      svg{
        transition: 0.2s;
        color: white;
        width: 15px;
      }
    }

    .containerTitle{
      display: flex;
      justify-content: space-between;
      width: 100%;

      .titleL{
        display: flex;
        flex-direction: column;
        gap: 5px;
        p{
          font-family: 'Montserrat Alternates',sans-serif;
          color: rgba(28, 35, 43, 0.55);
        }
        input{
          &::placeholder{
            font-size: calc(18px + 0.5vw);
            color: rgba(28, 35, 43, 0.56);
            font-weight: bold;
            font-family: 'Poppins',sans-serif;
          }
          font-weight: bold;
          border: none;
          outline: none;
          width: 100%;
          font-size: calc(18px + 0.6vw);
          font-family: 'Poppins',sans-serif;
          background-color: transparent;
          color: rgb(28, 35, 43);
          text-align: left;
        }

        .date{
        }
      }

      .titleR{
        p{
          font-size: 14px;
          font-family: 'Montserrat Alternates',sans-serif;
          color: rgba(28, 35, 43, 0.42);
        }
      }

    }

    .containerTextEditor{
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 20px;
      border-bottom: solid 1px $border;
      padding-bottom: 20px;
      width: 600px;

      .separatorEditor{
        height: 100%;
        width: 2px;
        background-color: rgba(28, 35, 43, 0.14);
      }

      button{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
      }
      .bold{
        font-weight: bold;
      }

      .italic{
        font-family: 'Noto Sans Tangsa', sans-serif;
        font-style: italic;
        margin-top: -2px;
      }
      .under{
        margin-top: -2px;
        font-family: 'Montserrat';
        font-weight: bold;
        border-bottom: 2px #1C232B solid;
      }
    }

    .text{
      margin-top: 20px;
      flex: 1;
      width: 70%;
    }
  }

  .containerPresentationBook{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 1;
    height: 100%;
    border-top: solid 1px rgba(28, 35, 43, 0.12);
    border-bottom: solid 1px rgba(28, 35, 43, 0.12);


    .headPresentation{
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      img{
        height: 10vh;
        clip-path: circle();
        background-color: #1C232B;
      }
      h3{
        &:first-letter{
          text-transform: uppercase;
        }
        word-break: break-word;
        font-family: 'Montserrat Alternates',sans-serif;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .summary{
      margin-top: 10px;
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 11px;
        color: rgba(28, 35, 43, 0.87);
        font-family: "Montserrat", sans-serif;
      }
    }

    .statsPresentation{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      gap: 20px;
      img{
        width: 10vh;
      }
      h6{
        font-size: 14px;
        font-style: italic;
      }
      h6,p{
        font-family: 'Montserrat',sans-serif;
        text-align: center;
      }
      p{
        font-size: 12px;
        color: #e04444;
        cursor: pointer;
      }
    }
  }


  .containerCommentary{
    display: flex;
    flex-direction: column;
    border: solid 1px $border;
    border-left: none;
    background-color: white;
    width: 30%;
    height: 100%;
    padding: 1% 2%;
    .headerCommentary{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;
      h5{
        font-size: 18px;
        font-family: 'Montserrat Alternates',sans-serif;
        font-weight: bold;
        color: rgb(28, 35, 43);
      }
      p{
        font-size: 12px;
        font-family: 'Montserrat Alternates',sans-serif;
        color: rgba(28, 35, 43, 0.55);
      }
    }

    h6{
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: 'Montserrat Alternates',sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: rgba(28, 35, 43, 0.85);
      svg{
        width: 15px;
      }
    }

    .listCommentary{
      overflow-y: auto!important;
      height: 800px;
      display: block;
      flex-direction: column;
      width: 100%;
      padding-top:0px;
      padding-left: 20px;
    }
  }

  .closedMenuContainer{
    background-color: white;
    height: 100%;
    width: 2%;
  }


}

.activeSaveBtn{
  transition: 0.1s;
  background-color: #1C232B!important;
}

.activePublishBtn{
  transition: 0.1s;
  background-color: #9844AD!important;
}
