@import "styles/utils/var";

.container {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.containerMain {
  display: flex;
  height: 100vh;
  width: 100%;
}

.verticalMenuContainer {
  height: 100%;
  width: 250px;
}

.containerData {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerList {
  padding: 2% 5%;

  h4 {
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 50%;
    padding-bottom: 1%;
    color: #1C232B;
    border-bottom: 2px rgba(28, 35, 43, 0.35) solid;
  }
}

.supportContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10%;
  gap: 2vh;

  h3 {
    text-align: center;
    font-family: $primaryFont;
    font-size: 18px;
    font-weight: bold;
  }

  img {
    text-align: center;
    width: 200px;
  }

  p {
    text-align: center;
    font-size: 15px;
    padding: 0px 20px;
    font-weight: 500;
    font-family: $primaryFont;
  }

  strong {
    cursor: pointer;
  }

  .twitter {

    &:hover {
      color: #0098d4;
    }

    cursor: pointer;
    font-weight: bold;
    color: #00acee;
  }
}


@media screen and (max-width: 1000px) and (max-height: 500px) {
  .container {
    overflow-x: scroll !important;
    padding: 50px 0;
  }

  .verticalTabContainer {
    display: none;
  }

  .supportContainer {
    margin-top: 0;
    padding-bottom: 30px;
  }

  .containerMain {
    height: auto;
  }
}