@import "styles/utils/var";
.container{
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.containerMain{
  display: flex;
  height: 100vh;
  width: 100%;
}

.verticalMenuContainer{
  height: 100%;
  width: 15%;
}

.containerData{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerList{
  padding: 2% 5%;
  h4{
    font-size: 1vw;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    width: 50%;
    padding-bottom: 1%;
    color: #1C232B;
    border-bottom: 2px rgba(28, 35, 43, 0.35) solid;
  }
}

.supportContainer{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -10%;
  gap: 4vh;

  h3{
    font-family: 'Poppins',sans-serif;
    font-size: 1vw;
    font-weight: bold;
  }

  img{
    width: 200px;
  }

  p{
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
  }

  strong{
    cursor: pointer;
  }

  .discord{
    cursor: pointer;
    font-weight: bold;
    color: #7289d9 ;
  }


}
