@import "styles/utils/var";

.resultContainer {
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    margin: 5px;
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(28, 35, 43, 0.13);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1C232B;
  }

  display: block;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  overflow-y: scroll;
  max-height: 30vh;
  height: auto;
  border-radius: 8px;
  width: 100% !important;
  z-index: 200!important;
  border: solid 1px rgba(0, 0, 0, 0.01);
  .titleHeader {
    display: flex;
    padding: 12px 10px;
    h5 {
      background-color: #9844AD;
      padding: 5px 12px;
      border-radius: 25px;
      display: flex;
      width: min-content;
      align-items: center;
      font-family: $primaryFont;
      font-weight: bold;
      font-size: 10px;
      color: white;
    }

    svg {
      height: 13px;
      margin-left: 5px;
    }
  }

  .itemAuthor{
    display: flex;
    justify-content: center;
    flex-direction: row!important;
    align-items: center!important;
    height: 70px;
  }

  .itemResult {
    &:hover {
      background-color: rgba(224, 224, 224, 0.18);
      transition: 0.3s;
    }
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    border-bottom: solid 1px rgba(233, 235, 236, 0.62);
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    padding: 12px 15px;
    overflow: hidden;
    align-items: flex-start;

    .title {
      &:first-letter{
        text-transform: uppercase;
      }
      padding-right: 10px;
      margin-bottom: 5px;
      letter-spacing: -0.4px;
      font-weight: bold;
      font-family: $primaryFont;
      font-size: 13px;
      width: 100%;
    }

    .author{
      display: flex;
      align-items: center;
      gap: 10px;
      img{
        object-fit: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    .subContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 5px;


      p {
        font-weight: bold;
        font-family: $primaryFont;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        gap: 4px;
      }

      svg {
        width: 12px;
        color: $purple;
      }

      .category {
        text-transform: capitalize;
        color: $purple;
      }

      .likes{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        gap: 4px;
        svg{
          margin-top: 1px;
        }
      }

      svg {
        width: 12px;
        color: #9844AD;
      }

      .authorPseudo {
        color: rgba(42, 40, 37, 0.77);
        font-size: 10px;
        font-family: 'Montserrat Alternates', sans-serif;
      }
    }

  }

  .errContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

    h5 {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      color: $purpleLight;

      span {
        font-weight: bold;
      }
    }
  }
}

/* Theme sombre */

.blackResultContainer {
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background:hsla(0deg, 100%, 100%, 0.88);
    border-radius: 5px;
  }

  background-color: $darkMode;

  .titleHeader {
    padding: 12px 10px;
    background-color: $darkMode;
    h5 {
      color: hsla(0deg, 100%, 100%, 0.88);
    }
  }

  .category{
    color: white!important;
  }

  .itemResult {
    &:hover {
      background-color: #202024;
    }
    border-bottom: solid 1px #35353b;
    background-color: $darkMode;


    .title {
      &:hover {
        color: hsla(0deg, 100%, 100%, 0.88);
      }
      color: hsla(0deg, 100%, 100%, 0.88);
    }

    .subContainer {
      p {
        color: hsla(0deg, 100%, 100%, 0.88);;
      }

      .authorPseudo {
        color: hsla(0deg, 100%, 100%, 0.88);
      }
    }

  }
}