@import "styles/utils/var";

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-top: 15%;
  padding-bottom: 10%;
  background-color: #1C232B;

  .fContainer{
    display: flex;
    flex-direction: column;
    .logo{
      margin-bottom: 15%;
      h3{
        cursor: pointer;
        text-align: center;
        z-index: 2;
        font-family: 'Montserrat',sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: white;
      }
    }
  }

  .navContainer{
    padding-left: 15%;
    ul{
      display: flex;
      flex-direction: column;
      gap: 30px;
      li{
        cursor: pointer;
        display: flex;
        gap: 8%;
        color: white;
        font-family: "Montserrat",sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 10px;
        svg{
          width: 25px;
          margin-top: -6px;
          color: white;
        }
      }
    }
  }

  .sContainer{
    display: flex;
    flex-direction: column;
    .profilContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      width: 100%;
      height: auto;

      .profil{
        display: flex;
        align-items: center;
        gap: 8%;
        height: 100%;
        width: 80%;
        img{
          width: 40px;
          clip-path: circle();
          object-fit: cover;
        }

        .infos{
          display: flex;
          flex-direction: column;
          .name{
            font-size: 11px;
            font-family: 'Montserrat Alternates',sans-serif;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
          }
          .pseudo{
            font-size: 10px;
            font-weight: bold;
            font-family: 'Poppins',sans-serif;
            color: white;
          }
        }
      }
    }
  }
}

.notification{
  display: flex;
  justify-content: left;
  align-items: center;
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9844AD;
    font-size: 9px;
  }
}

.bell{
  color: white!important;
}