@import "styles/utils/var";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100px;
  z-index: 1;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #1C232B;
  box-shadow: $shadow;

  .fContainer {
    display: flex;
    flex-direction: column;

    .logo {
      margin-bottom: 80px;
    }
  }

  .navContainer {
    padding-left: 10%;
    padding-right: 10%;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {

        &:hover {
          background-color: $blackHover;
        }

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1.5vh;
        border-radius: 15px;

        svg {
          margin-top: -2px;
          width: 25px;
          min-width: 20px;
          color: white;
        }
      }
    }
  }

  .imgContainer {
    display: flex;
    justify-content: center;

    img {
      width: 140px;
    }
  }

  .sContainer {
    display: flex;
    flex-direction: column;

    .profilContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      width: 100%;
      height: auto;

      .profil {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8%;
        height: 100%;
        width: 80%;

        img {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          position: absolute;
          bottom: 2%;
          right: 21%;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          background-color: $green;
          border: 2px solid #1c232b;
        }

      }
    }
  }
}

.notification {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;

  span {
    position: absolute;
    bottom: 27px;
    right: 27px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a326c2;
    border: 1px solid #1c232b;
  }
}

.activeMenu {
  background-color: #9844AD !important;
  color: white;

  svg {
    color: white;
  }
}

.bell {
  width: 25px;
  color: #54595F;
}

@media screen and (max-width: 900px) {
  .container {
    li {
      font-size: 0 !important;
    }
  }
}