@import "styles/utils/var";

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  min-width: 80px;
  z-index: 1;
  padding-top: 10%;
  padding-bottom: 5%;
  background-color: white;
  box-shadow: $shadow;

  .fContainer{
    display: flex;
    flex-direction: column;
    .logo{
      margin-bottom: 10%;
      h3{
        cursor: pointer;
        text-align: center;
        z-index: 2;
        font-family: 'Montserrat',sans-serif;
        font-weight: bold;
        font-size: 25px;
        color: #1C232B;
      }
    }
  }

  .navContainer{
    padding-left: 10%;
    padding-right: 10%;
    ul{
      display: flex;
      flex-direction: column;

      gap: 10px;
      li{
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8%;
        color: #54595F;
        padding: 1.5vh;
        border-radius: 15px;
        font-family: "Santral-Regular",sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 11px;
        svg{
          margin-top: -2px;
          width: 25px;
          min-width: 20px;
          color: #54595F;
        }
      }
    }
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    img{
      width: 140px;
    }
  }

  .sContainer{
    display: flex;
    flex-direction: column;
    .profilContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      width: 100%;
      height: auto;

      .profil{
        position: relative;
        display: flex;
        align-items: center;
        gap: 8%;
        height: 100%;
        width: 80%;
        span{
          position: absolute;
          bottom: 4%;
          left: 30px;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background-color: #97fd97;
        }
        img{
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .infos{
          cursor: pointer;
          display: flex;
          flex-direction: column;
          .name{
            font-size: 12px;
            font-family: 'Rebond Grotesque',sans-serif;
            font-weight: bold;
            color: #1C232B;
          }
          .pseudo{
            font-size: 10px;
            font-weight: bold;
            font-family: 'Lato',sans-serif;
            color: #1C232B;
          }
        }
      }
    }
  }
}

.notification{
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  span{
    position: absolute;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9844AD;
    font-size: 10px;
  }
}

.bell{
  width: 25px;
  color: #54595F;
}

.activeMenu{
  background-color: #9844AD!important;
  color: white!important;
  svg{
    color: white!important;
  }

}



@media screen and (max-width: 1300px){
  .container{
    li{
      span{
        height: 10px;
        width: 10px;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .container{
    li{
      font-size: 10px!important;
    }
    svg{
      width: 10px!important;
    }
  }
}

@media screen and (max-width: 900px){
  .container{
    li {
      font-size: 0!important;
      span{
        display: none;
      }
    }
  }
}


@media screen and (max-height: 500px) and (max-width: 700px) and (orientation: landscape){
  .container{
    display: none;
  }
}


