@import "styles/utils/var";
@import "styles/utils/keyframe.module";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  background-color: white;

  .content {
    width: 100%;
    height: 100%;
  }

  .containerImg {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgAbs {
    position: absolute;
    top: 10px;
    left: 10px;

    img {
      cursor: pointer;
      width: 100px;
      object-fit: contain;
    }
  }

  .ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .leftBlock {
    width: 70%;
    max-width: 450px;
  }

  .header {
    width: 100%;
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      margin-bottom: 10px;
      text-align: center;
      font-weight: bold;
      -webkit-text-stroke-width: 1.5px;
      letter-spacing: 0.5px;
      stroke: #1C232B;
      font-family: $branch;
    }

    p {
      font-family: $primaryFont;
      color: #1c232b;
      text-align: left;
      font-size: 13px;
      font-weight:bold;
      opacity: 0.9;
    }

    .h1Connexion {
      display: flex;
      justify-content: center;
    }
  }

  .form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .date {
      font-family: $primaryFont;
    }

    .inputContainer {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      margin-bottom: 30px;

      svg {
        fill:#1c232b;
        height: 20px;
      }
    }

    .labelId, .labelPW {
      position: absolute;
      left: 36px;
      top: 15px;
      z-index: 1;
      text-align: left;
      width: 100%;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 5px;
      color: #1c232b;
      font-family: $primaryFont;
      transition: 0.4s;
    }

    textarea {
      &:focus {
        box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
        transition: 0.1s;
      }

      transition: 0.1s;
      outline: none;
      resize: none;
      border: solid 1px $border;
      padding: 8px 8px 50px 8px;
      border-radius: 5px;
      width: 100%;
      font-size: 12px;
      font-family: $primaryFont;
    }

    .inputId, .inputPW {
      position: relative;
      z-index: 2;
      cursor: text;
      background: none;
      outline: none !important;
      font-family: $primaryFont;
      font-weight: bold;
      opacity: 0.9;
      border-radius: 5px;
      font-size: 14px;
      margin-left: 10px;
      padding: 14px 5px;
      width: 100%;
    }

    .inputId:focus+.labelId,
    .inputPW:focus+.labelPW {
      top: -13px;
      font-size: 10px;
    }

    .inputId:not(:placeholder-shown).inputId:not(:focus)+.labelId,
    .inputPW:not(:placeholder-shown).inputPW:not(:focus)+.labelPW {
      top: -13px;
      font-size: 10px;
    }

    .selectItem {
      width: 100%;
      position: relative;
      label {
        svg {
          height: 5px;
          width: 7px;
          fill: $orange;
        }
      }
    }

    .selectCategory {
      svg {
        width: 10px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(-50%, -50%);
        color: #54595F;

      }

      margin-bottom: 10px;
      position: relative;

      select {
        &:focus {
          box-shadow: $shadow;
          transition: 0.1s;
        }

        transition: 0.1s;
        width: 100%;
        background-color: white;
        border: solid 1px $border;
        border-radius: 5px;
        outline: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        font-family: $primaryFont;
        color: rgba(28, 35, 43, 1);
        appearance: none;
        -webkit-appearance: none;
        font-size: 12px;

        option {
          &:first-letter {
            text-transform: capitalize;
          }

          color: #1C232B;
        }
      }
    }
  }

  .submitErr {
    margin-top: -20px;
    font-size: 12px;
    font-family: $primaryFont;
    color: $orange;
    font-weight: 500;
    opacity: 0.9;
  }

  .conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;

    p {
      &:hover {
        color: rgb(118, 10, 145);
        transition: 0.3s;
      }

      transition: 0.3s;
      cursor: pointer;
      text-align: right;
      font-family: $primaryFont;
      color: $purpleLight;
      font-weight: bold;
      font-size: 12px;
    }

    label {
      margin: 0 !important;
      color: $darkBrown;

      span {
        cursor: pointer;
        text-decoration: underline;
        color: $purpleLight;
      }
    }

    input {
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 0;
      width: auto;
    }

    .rememberMe {
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        margin-top: 0px;
      }
    }
  }

  .logBtnContainer {
    margin-top: 20px;
    gap: 20px;

    .logInBtn {
      width: 100%;
      font-family: $primaryFont;
      font-weight: bold;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    }
  }

  .stepBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .pre {
      margin-right: 20px;
    }

    .newPassBtn {
      background-color: $purple;
      color: white;
      transition: 0.1s;
      cursor: pointer;
      text-align: center;
      margin-top: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 12px;
      font-family: $primaryFont;
    }
  }

  .stepBtn {
    &:active{
      transform: scale(0.8);
      transition: 0.2s;
    }
    &:hover{
      transition: 0.2s;
      background-color: $purpleHover;
    }

    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    background-color: $purple;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
  }

  .otherOption {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;

    .trait {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba(28, 35, 43, 0.14);
    }

    h3 {
      position: absolute;
      min-width: 50px;
      display: flex;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      color: rgba(28, 35, 43, 0.384);
      font-size: 12px;
      font-weight: bold;
    }
  }

  .register {
    p {
      &:hover {
        color: #1c232b;
        transition: 0.3s;
      }

      text-decoration: underline;
      transition: 0.3s;
      font-family: $primaryFont;
      color: #1c232b!important;
      font-size: 12px;
      cursor: pointer;
    }
  }


  @media screen and (max-width: 970px) {
    .ctn {
      width: 70% !important;
    }

    .imgAbs{
      display: none;
    }
  }

  @media screen and (max-width: 700px) {
    .ctn {
      width: 90% !important;
    }
  }

  @media screen and (max-width: 540px) {
    .ctn {
      width: 100% !important;
      padding-top: 60px !important;
    }

    .leftBlock {
      width: 90% !important;
    }
  }

  @media screen and (max-width: 380px) {
    .ctn {
      width: 100% !important;
    }

    .leftBlock {
      width: 95% !important;
    }

    .header {
      h1 {
        font-size: 20px !important;
      }
    }
  }

  @media screen and (max-height: 850px) {
    .imgAbs {
      position: absolute;
      top: 0px;
      left: 0px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media screen and (max-height: 700px) {
    .imgAbs {
      position: absolute;
      top: 0px;
      left: 0px;

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  @media screen and (max-width: 285px) {
    .submitErr {
      bottom: 20px;
    }

    .conditions {
      flex-direction: column;
    }
  }
}

@media screen and (max-height: 600px) {
  .container {
    .containerImg {
      min-height: 600px;
    }
  }
}