@import "styles/utils/var";
@import "styles/utils/keyframe.module";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: auto;                             
  background-color: white;
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .containerImg {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgAbs {
    position: absolute;
    top: 10px;
    left: 10px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .ctn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  
  .leftBlock {
    width: 70%;
    max-width: 450px;
  }
  
  .header {
    width: 100%;
    margin-bottom: 30px;
  
    // img {
    //   height: 150px;
    //   margin-bottom: 10px;
    // }
  
    h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      font-weight: 500;
      -webkit-text-stroke-width: 2px;
      stroke-width: 2px;
      -webkit-text-stroke-color: #1C232B;
      stroke: #1C232B;
    }
  
    p {
      color: #848095;
      text-align: justify;
      font-size: 14px;
    }

    .h1Connexion {
      display: flex;
      justify-content: center;
    }
  }
  
  .form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  
    .date {
      font-family: "Montserrat", sans-serif;
    }
  
    label {
      position: relative;
      text-align: left;
      width: 100%;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
  
      span {
        position: absolute;
        right: -10px;
        top: 5%;
        color: red;
        font-size: 8px;
      }
    }
  
    textarea {
      &:focus {
        box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
        transition: 0.1s;
      }
  
      transition: 0.1s;
      outline: none;
      resize: none;
      border: solid 1px $border;
      padding: 8px 8px 50px 8px;
      border-radius: 5px;
      width: 100%;
      font-size: 12px;
      font-family: "Montserrat",
      sans-serif;
    }
  
    input {
      &:focus {
        box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
        transition: 0.1s;
      }
  
      &::placeholder {}
  
      cursor: text;
      transition: 0.1s;
      outline: none !important;
      font-family: "Montserrat",
      sans-serif;
      border-radius: 5px;
      font-size: 13px;
      border: solid 1px $border;
      margin-bottom: 5px;
      margin-top: 7px;
      padding: 14px 24px;
      width: 100%;
    }
    
    .selectItem{
      width: 100%;
      label {
        svg {
          height: 5px;
          width: 7px;
          fill: #e94f37;
        }
      }
    }
  
    .selectCategory {
      svg {
        width: 10px;
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translate(-50%, -50%);
        color: #54595F;
  
      }
  
      margin-bottom: 10px;
      position: relative;
  
      select {
        &:focus {
          box-shadow: $shadow;
          transition: 0.1s;
        }
  
        transition: 0.1s;
        width: 100%;
        background-color: white;
        border: solid 1px $border;
        border-radius: 5px;
        outline: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        font-family: "Montserrat",
        sans-serif;
        color: rgba(28, 35, 43, 1);
        appearance: none;
        -webkit-appearance: none;
        font-size: 12px;
  
        option {
          &:first-letter {
            text-transform: capitalize;
          }
  
          color: #1C232B;
        }
      }
    }
  }
  
  .submitErr{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 10px;
    font-family: "Poppins",sans-serif;
    font-style: italic;
    color: red;
  }
  
  .conditions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  
    p {
      &:hover {
        color: rgb(118, 10, 145);
        transition: 0.3s;
      }
  
      transition: 0.3s;
      cursor: pointer;
      text-align: right;
      font-family: "Montserrat",
      sans-serif;
      color: $purpleLight;
      font-weight: bold;
      font-size: 13px;
    }
  
    label {
      margin: 0 !important;
      color: $darkBrown;
  
      span {
        cursor: pointer;
        text-decoration: underline;
        color: $purpleLight;
      }
    }
  
    input {
      cursor: pointer;
      margin-right: 10px;
      margin-bottom: 0;
      width: auto;
    }
  
    .rememberMe {
      display: flex;
      align-items: center;
  
      input[type="checkbox"] {
        margin-top: 0px;
      }
    }
  }
  
  .logBtnContainer {
    margin-top: 20px;
    gap: 20px;
  
    .logInBtn {
      width: 100%;
      font-family: 'Montserrat Alternates', sans-serif;
      font-weight: bold;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  
    }
  }
  
  .stepBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  
    .pre {
      margin-right: 20px;
    }
  
    .newPassBtn {
      background-color: #9844AD;
      color: white;
      transition: 0.1s;
      cursor: pointer;
      text-align: center;
      margin-top: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 12px;
      font-family: "Potta One", sans-serif;
    }
  }
  
  .stepBtn {
    &:hover {
      background-color: #901aad;
      transition: 0.3s;
    }
  
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    background-color: #9239a8;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    font-family: "Potta One",
    sans-serif;
  }
  
  .otherOption {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  
    .trait {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgba(28, 35, 43, 0.14);
    }
  
    h3 {
      position: absolute;
      min-width: 155px;
      display: flex;
      justify-content: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      color: rgba(28, 35, 43, 0.384);
      font-size: 12px;
      font-weight: bold;
    }
  }
  
  .register {
    p {
      &:hover {
        color: #261874;
        transition: 0.3s;
      }
  
      text-decoration: underline;
      transition: 0.3s;
      color: #5844c3;
      font-size: 13px;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 970px) {
    .ctn {
      width: 70% !important;
    }
  }
  
  @media screen and (max-width: 700px) {
    .ctn {
      width: 90% !important;
    }
  }
  
  @media screen and (max-width: 540px) {
    .ctn {
      width: 100% !important;
      padding-top: 60px !important;
    }
    .leftBlock {
      width: 90% !important;
    }
  }
  
  @media screen and (max-width: 380px) {
    .ctn {
      width: 100% !important;
    }
    .leftBlock {
      width: 95% !important;
    }
  
    .header {
      h1 {
        font-size: 20px !important;
      }
    }
  }

  @media screen and (max-height: 850px) {
    .imgAbs {
      position: absolute;
      top: 0px;
      left: 0px;
  
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media screen and (max-height: 700px) {
    .imgAbs {
      position: absolute;
      top: 0px;
      left: 0px;
  
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .container {
    .containerImg {
      min-height: 600px;
    }
  }
}