@import "/styles/utils/var";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #311959;

  .HomeCenterBlock {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;

    .HomeCenterContent {
      width: 70%;
      height: 100%;
      background-image: url("../../public/assets/diapo/Welcome.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100% 100%;
      animation: testimg 3s ease;
      animation-fill-mode: forwards;
    }

    @keyframes testimg {
      from {
        background-size: 100% 100%; 
      }
      to {
        background-size: 102% 102%; 
      }
    }

    .HomeTextBlock {
      background-color: #311959;
      width: 30%;
      height: 100%;

      .HomeCenterTitle {
        padding: 35px;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          width: 800px;
          font-size: 5vh;
          font-family: "Branch", sans-serif;
          font-weight: bold;
          color: white;
          margin-bottom: 80px;
          z-index: 1;
        }
        p {
          width: 600px;
          font-family: 'Branch';
          font-size: 25px;
          color: white;
          margin-bottom: 20px;
          margin-bottom: 80px;
          z-index: 1;
        }
        .HomeCenterButton {
          &:hover {
            background-color: white;
            color:  rgb(133, 59, 151);
            transition: 0.3s;
          }
          z-index: 1;
          transition: 0.3s;
          font-family: 'Poppins';
          background-color: #e94f37;
          color: white;
          width: 200px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 35px;
          font-size: 20px;
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }

  svg {
    position: absolute;
    bottom: 0px;
  }
}