.container{
  margin-top: 4vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40vh;
  overflow: hidden;
  width: 100%;
}

.mountain{
  width: 30%;
  object-fit: contain;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;

  h5{
    font-size: 5vh;
    font-family: 'Branch',sans-serif;
    font-weight: bold;
    white-space: pre;
    -webkit-text-stroke-width: 1px;
  }
  p{
    text-align: center;
    font-size: 1.6vh;
    font-family: 'Rebond Grotesque',sans-serif;
    color: rgb(84, 89, 95);
    width: 70%;
    strong{
      color: #9844AD;
    }
  }


}

.btnContainer{
  margin-top: 4vh;
  button{
    &:active{
      transform: scale(0.8);
      transition: 0.2s;
    }
    &:hover{
      transition: 0.2s;
      filter: brightness(92%);
    }
    transition: 0.2s;
    font-family: 'Rebond Grotesque',sans-serif;
    font-weight: bold;
    background-color: #e94f37;
    color: white;
    padding: 15px 3vw;
    font-size: 12px;
    border-radius: 25px;
  }
}