@import "/styles/utils/var";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #311959;
  // margin-top: -10vh;


  .HomeCenterBlock {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      right: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: contain;
      width: 1200px;
      animation: testimg 4s ease;
      animation-fill-mode: forwards;
      height: 90%;
    }

    @keyframes testimg {
      0% {
        transform: scale(1);
      }

      100% {
        transform: scale(1.1);
      }
    }

    .HomeTextBlock {
      background-color: #311959;
      width: 100%;
      height: 100%;

      .HomeCenterTitle {
        padding: 35px;
        height: 100%;
        width: 100%;
        border-radius: 30px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
          width: 900px;
          font-size: 5vh;
          font-family: $branch;
          font-weight: bold;
          color: white;
          margin-bottom: 40px;
          text-shadow: 0px 0px 5px black;
          z-index: 1;

        }

        p {
          width: 600px;
          font-family: $branch;
          font-size: 25px;
          text-shadow: 0px 0px 5px black;
          color: white;
          margin-bottom: 40px;
          z-index: 1;
        }

        .token {
          display: none;
          white-space: pre;
          background-color: #1C232B;
          font-family: 'Montserrat';
          font-size: 12px;
        }

        button {
          &:active {
            transform: scale(0.8);
            transition: 0.2s;
          }

          &:hover {
            transition: 0.2s;
            background-color: $orangeHover;
          }

          cursor: pointer;
          transition: 0.2s;
         font-family: $primaryFont;
          letter-spacing: -0.2px;
          font-weight: bold;
          background-color: #e94f37;
          color: white;
          padding: 15px;
          font-size: 14px;
          width: 220px;
          border-radius: 25px;
          z-index: 1;
        }
      }
    }
  }

  svg {
    position: absolute;
    bottom: 0px;
  }
}

.mountain {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .HomeCenterTitle {
    align-items: center;

    h1 {
      text-shadow: initial !important;
      text-align: center;
      white-space: pre !important;
      letter-spacing: -1px;
      -webkit-text-stroke-width: 0.6px;
      width: auto !important;
      font-size: 5vw !important;
      color: #1C232B !important;
      margin-bottom: 20px !important;
    }

    p {
      text-shadow: initial !important;
      text-align: center;
      font-size: 2vw !important;
      font-weight: bold !important;
      letter-spacing: -0.5px;
      width: 80% !important;
      color: #1C232B !important;
    }

  }

  .welcomeDesktop {
    display: none !important;
  }

  .container {
    height: 100vh !important;
    background-color: white;
  }

  .mountain {
    position: absolute;
    display: initial !important;
    height: 40vh !important;
    bottom: 0;
  }

  .HomeTextBlock {
    background-color: transparent !important;
  }

  .HomeCenterBlock {
    height: 90% !important;
  }
}

@media screen and (max-width: 800px) {
  .HomeCenterBlock {
    height: 80% !important;
  }


  .HomeCenterTitle {
    h1 {
      white-space: initial !important;
    }

    p {
      width: 100% !important;
      color: rgba(28, 35, 43, 0.71) !important;
      font-size: 3vw !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .HomeCenterTitle {
    h1 {
      width: auto !important;
      font-size: 7vw !important;
    }

    p {
      font-size: 4vw !important;
    }

    button {
      width: auto !important;
      padding: 20px 60px !important;
      font-size: 12px !important;
    }
  }

  .container {
    img {
      object-fit: cover !important;
    }
  }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .container {
    height: 140vh !important;
    transition: 0.1s;
  }
}