.container {
  margin-top: 4vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40vh;
  overflow: hidden;
  width: 100%;
}

.image {
  width: 30vw;
  object-fit: contain;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;

  p {
    text-align: center;
    font-size: 1.6vh;
    font-family: 'Rebond Grotesque', sans-serif;
    color: rgb(84, 89, 95);
    width: 70%;

    strong {
      color: #9844AD;
    }
  }
}

.title {
  display: flex;
  height: 62px;

  h5 {
    margin-right: -12px;
    font-size: 45px;
    font-family: 'Branch', sans-serif;
    font-weight: bold;
    white-space: pre;
    -webkit-text-stroke-width: 1px;
  }

  ul {
    height: 100%;
    overflow: hidden;
    font-size: 45px;
    font-family: 'Branch', sans-serif;
    font-weight: bold;
    white-space: pre;
    -webkit-text-stroke-width: 1px;
    color: #e94f37;
  }

  li {
    position: relative;
    top: 0;
    animation: writting 21s steps(7) infinite;
  }

  span {
    position: relative;
    width: 100%;
    height: 100%;
  }

  span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 2px solid #e94f37;
    animation: typing 3s steps(9) infinite;
    background-color: white;
  }
}

.btnContainer {
  margin-top: 4vh;

  button {
    &:active {
      transform: scale(0.8);
      transition: 0.2s;
    }

    &:hover {
      transition: 0.2s;
      filter: brightness(92%);
    }

    transition: 0.2s;
    font-family: 'Rebond Grotesque', sans-serif;
    font-weight: bold;
    background-color: #e94f37;
    color: white;
    padding: 15px 3vw;
    font-size: 12px;
    border-radius: 25px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    gap: 5% !important;
  }
}

@media screen and (max-width: 1300px){
  .content{
    width: 50%!important;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    p {
      margin-top: 4% !important;
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container{
    height: auto;
    flex-direction: column-reverse!important;
    gap: 4vh!important;

    img{
      width: 50vw;
    }

    button{
      padding: 15px 6vw;
    }

    h5{
      font-size: 30px;
    }
    p{
      font-size: 16px;
    }
  }

  .content{
    width: 80% !important;
    p{
      margin-top: 0%!important;
    }

    h5 {
      display: flex;
      align-items: center;
      margin-right: -7px !important;
    }

    ul {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      height: 100%;
    }
    li {
      height: 100% !important;
      animation: writtingResponsive 21s steps(7) infinite;
      margin-top: 9px !important;
      margin-bottom: 5px !important;
    }
  }
}

@media screen and (max-width: 600px){
  .container{
    img{
      width: 70vw;
    }
  }
  .content{
    h5{
      font-size: 37px !important;
      margin-left: 20px !important;
    }

    ul {
      font-size: 37px !important;
    }
    li {
      animation: writtingMoreResponsive 21s steps(7) infinite;
      margin-top: 4px !important;
    }
  }

}

@media screen and (max-width: 500px){
  .container{
    h5{
      white-space: initial!important;
      text-align: center;
      line-height: 5vh;
      margin-bottom: 20px;
      margin-left: 0px !important;
    }
  }

  .content{
    button{
      padding: 15px 40px;
    }
  }

  .title {
    flex-direction: column !important;
    align-items: center;
    height: auto;

    h5 {
      margin-bottom: 0px;
    }
  }
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 5px);
  }
  100% {
    left: 0;
  }
}

@keyframes writting {
  100% {
    top: -473px;
  }
}

@keyframes writtingResponsive {
  100% {
    top: -413px;
  }
}

@keyframes writtingMoreResponsive {
  100% {
    top: -452px;
  }
}