@import "styles/utils/var";

.svgTheme {
  cursor: pointer !important;
  width: 20px !important;
  color: #7A7A7A !important;
}

.container {
  min-height: auto;
  height: auto;
  width: 100%;
  z-index: 2;
  margin-top: 20px;

  .socialLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    background-color: #1C232B;

    h5 {
      color: white;
      font-size: 18px;
      text-align: center;
      font-weight: bold;
      font-family: $primaryFont;
    }

    .social {
      display: flex;
      gap: 20px;
      margin-top: 30px;

      svg {
        cursor: pointer;
        width: 30px;
        fill: white !important;
      }
    }
  }

  .linkFooter {
    padding: 30px;
    background-color: #1C232B;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .planContainer {
      display: flex;
    }

    .plan {
      width: auto;
      margin: 0px 30px;

      .btn {
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        margin-left: -5px;
      }

      .headphone {
        position: relative;

        svg {
          &:active {
            transform: scale(0.8);
            transition: 0.2s;
          }

          transition: 0.2s;
          cursor: pointer;
          color: #7A7A7A;
          width: 16px;
        }

        .animation {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          z-index: 0;
          top: -5%;
          left: -10%;
          background-color: white;
          opacity: 1;
          animation: pulse 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        width: 100%;

        li {
          cursor: pointer;
          margin: 10px 0px;
          font-size: 13px;
          font-family: $primaryFont;
          font-weight: bold;
          color: #7A7A7A;
          width: 100%;

          a {
            color: #7A7A7A;
            text-decoration: none;
          }
        }
      }

      h6 {
        text-align: left;
        white-space: nowrap;
        color: white;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
        font-family: $primaryFont;
      }
    }

    .text {
      h6 {
        text-align: left;
        color: white;
        font-size: 16px !important;
        margin-bottom: 15px;
        font-weight: 600;
        font-family: $primaryFont;
      }

      width: auto;
      margin: 0px 70px;

      p {
        width: 260px;
        font-family: $primaryFont;
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        color: $purple;
      }
    }
  }

  .activeNav {
    color: white !important;
  }
}

@media screen and (max-width: 650px) {
  .container {
    .plan {
      width: 50% !important;
    }

    .text {
      width: 100% !important;
      margin: 0 !important;
    }

    .linkFooter {
      flex-direction: column !important;
      padding: 50px 20px;
    }

    .planContainer {
      width: 100% !important;
      margin-bottom: 20px;
    }

    .text {
      h6 {
        font-size: 1.5rem !important;
      }

      p {
        width: 100% !important;
        font-weight: initial!important;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .container {
    .planContainer {
      flex-direction: column !important;

      .plan {
        width: 100% !important;
        margin: 20px 0px;

        h6 {
          text-align: center;
        }
      }
    }

    .text {
      h6 {
        font-size: 20px !important;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}