@import "styles/utils/var";


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 10vh;
  z-index: 20!important;

  .mainA{
    display: flex;

    h3{
      z-index: 2;
      margin-right: 100px;
      font-family: 'Montserrat',sans-serif;
      font-weight: bold;
      font-size: 30px;
    }
    nav{
      display: flex;
      align-items: center;
      ul{
        display: flex;
        align-items: center;
        gap: 30px;
        li{
          font-weight: bold;
          z-index: 2;
          font-size: 14px;
          font-family: 'Montserrat',sans-serif;
        }
      }
    }

  }

  .mainLog{
    .accountContainer{
      display: flex;
      svg{
        cursor: pointer;
        width: 25px;
        z-index: 2;
        color: #1C232B;
      }
    }

    .imgProfil{
      z-index: 2;
      cursor: pointer;
      width: 50px;
      height: 50px;
      clip-path: circle();
      margin-right: 20px;
    }
    .account{
      margin-right: 20px;
      cursor: pointer;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $purpleLight;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      z-index: 2;
      p{
        color: white;
        font-family:"Montserrat Alternates" ,sans-serif;
        font-weight: bold;
      }
    }

    .login{
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #1C232B;
      height: 50px;
      z-index: 200;
      button {
        width: 100%;
        height: 100%;
        color: white;
        font-weight: 500;
        font-family: 'Montserrat',sans-serif;
        font-size: 12px;
        z-index: 2;
      }
    }
  }
 /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  padding: 1%;
  width: 100%;
  background-color: white;
  box-shadow: rgba(28, 35, 43, 0.1) 1px 2px 10px;
  z-index: 20;

  .mainA{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .logo{
      width: 8%;
      img{
        width: 40px;
        height: 40px;
      }
    }

    .searchBar{
      position: relative;
      width: 37%;
    }
    .accountContainer{
      display: flex;
      svg{
        cursor: pointer;
        width: 25px;
        color: #1C232B;
      }
    }

    .account{
      margin-right: 20px;
      cursor: pointer;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      p{
        color: white;
        font-family:"Montserrat Alternates" ,sans-serif;
        font-weight: bold;
      }
    }

    .login{
      width: 130px;
      button{
        color: white;
        font-family: "Potta One",sans-serif;
        border-radius: 25px;
        padding: 15px 17px;
        width: 100%;
        font-size: 11px;
        background-color: $purpleLight;

      }
    }
  }





}


.mainH {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    ul {
      width: auto;
      display: flex;

      li {
        a {
          &:hover {
            color: $purpleLight;
            transition: 0.1s;
          }

          font-size: 0.9rem;
          font-family: 'Montserrat Alternates', sans-serif;
          font-weight: 700;
          padding: 20px;
          transition: 0.1s;
          text-decoration: none;
          color: $brown;
        }
      }
    }
  }

  img {
    object-fit: contain;
    height: 50px;
  }
}

.category {
  display: none;
  width: 100%;
  height: auto;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      a {

        color: #54595F;
        text-decoration: none;
        font-family: 'Potta One', cursive;
        font-weight: lighter;
        font-size: 0.8rem;
        border-right: solid 2px #54595F;
padding-left: 20px;
        padding-right: 20px;
      }
    }
  }*/
}

.activeNav {
  color: $purpleLight !important;
}

.bNone{
  border-right: none!important;
}