@import "styles/utils/var";

.HeaderResponsive {
    // height: 100vh;
    // min-height: 100vh;
    width: 100%;
    height: 70px;

    h1 {
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }

    .HeaderResponsiveClosed {
        position: fixed;
        z-index: 4;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f9f9f9;
        padding: 25px;
        border-bottom: 1px solid rgb(221, 221, 221);

        .HeaderResponsiveOpenForm {
            position: relative;
            display: flex;
            height: 40px;
            width: 30%;
            min-width: 200px;

            input {
                padding: 5px;
                padding-left: 15px;
                width: 100%;
                min-width: 200px;
                background-color: rgb(236, 236, 236);
                border-radius: 20px;
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: $dark;
            }

            input::placeholder {
                font-family: "Montserrat Alternates", sans-serif;
                color: $brown;
            }

            input:focus {
                outline: none !important;
            }
        }

        svg {
            height: 45px;
            cursor: pointer;
        }
    }

    .HeaderResponsiveOpen {
        width: 100%;
        height: 100%;
        display: flex;

        .close {
            position: fixed;
            height: 100%;
            width: 0px;
            overflow: hidden;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 0;
            background-color: white;
            user-select: none;
            overflow-x: hidden;
            border-radius: 0px 10px 10px 0px;
            transition: 0.3s;
        }

        .OpenContent {
            position: fixed;
            height: 100%;
            width: 280px;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 5;
            padding: 10px;
            background-color: white;
            user-select: none;
            overflow-x: hidden;
            box-shadow: 3px 1px 14px 4px rgba(0, 0, 0, 0.274);
            border-radius: 0px 10px 10px 0px;
            transition: 0.3s;
        }

        .otherDiv {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            .HeaderTop {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                margin-bottom: 10px;

                img {
                    height: 50px;

                }

                svg {
                    display: flex;
                    align-items: center;
                    height: 35px;
                    cursor: pointer;
                }
            }

            .utilsBtn {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0 15px;
                justify-content: space-between;
                margin-bottom: 10px;

                svg {
                    height: 23px;
                    color: black;
                    cursor: pointer;
                }

                .theme {
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s;
                    }

                    &:active {
                        transform: scale(0.8);
                        transition: 0.3s;
                    }  
                    transition: 0.3s;
                }


                .search {
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s;
                    }

                    &:active {
                        transform: scale(0.8);
                        transition: 0.3s;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;
                    border-radius: 10px;
                    cursor: pointer;

                    svg {
                        fill: black;
                        height: 23px;
                    }
                }
            }

            .menu {
                width: 100%;
                height: auto;
                overflow-y: auto;
                overflow-x: hidden;

                .HeaderResponsiveTitle {
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-family: 'Montserrat', sans-serif;
                        width: 100%;
                        text-align: start;
                        color: rgba(128, 128, 128, 0.651);
                        font-size: 16px;
                        font-weight: bold;
                        padding-left: 10px;
                    }

                    .HeaderResponsiveOpenSubject {
                        font-family: 'Montserrat', sans-serif;
                        width: 90%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 26px;
                        font-weight: bold;
                        cursor: pointer;

                        svg {
                            height: 20px;
                        }
                    }
                }

                .HeaderResponsiveOpenMenu {
                    width: 95%;
                    font-family: 'Poppins', sans-serif;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 10px;
                    color: black;
                    margin-bottom: 20px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                    }

                    li {
                        &:hover {
                            background-color: rgba(128, 128, 128, 0.164);
                        }

                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        height: 45px;
                        padding-left: 15px;
                        border-radius: 15px;
                        overflow: hidden;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 45px;
                            background-color: #e94f37;
                            color: white;
                            padding: 1px 8px;
                            // width: 29px;
                            // height: 18px;
                            border-radius: 10px;
                            font-size: 10px;
                            letter-spacing: 0.8px;
                        }
                    }

                    svg {
                        height: 18px;
                        margin-right: 20px;
                    }
                }
            }
        }

        .trait {
            content: "";
            width: 95%;
            height: 1px;
            background-color: rgba(128, 128, 128, 0.178);
            margin-bottom: 20px;
        }

        .HeaderResponsiveOpenAccount {
            bottom: 0px;
            width: 90%;
            background-color: white;

            svg {
                &:hover {
                    color: #9337e9;
                }

                cursor: pointer;
                height: 30px;
            }

            .footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: 'Poppins';

                .footerLeft {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    svg {
                        height: 25px;
                    }

                    .footerInfos {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-size: 14px;
                            margin-bottom: 1px;
                            letter-spacing: 0.5px;
                        }

                        p {
                            color: rgba(128, 128, 128, 0.658);
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        .HeaderResponsiveOpenAccountNoConnect {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-weight: bold;
            font-family: "Montserrat Alternates", sans-serif;
            color: white;

            h3 {
                width: 110px;
            }

            svg {
                height: 15px;
                margin-left: 15px;
            }

            .HeaderSeConnecter,
            .HeaderSinscrire {
                &:hover {
                    background-color: #8529db;
                    transition: 0.3s;
                }

                width: 90%;
                min-width: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
                border: 1px solid #9337e9;
                background-color: #9337e9;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                margin-bottom: 10px;
                padding: 10px 0px;
            }

            .HeaderSinscrire {
                &:hover {
                    background-color: #e2341a;
                    transition: 0.3s;
                }

                border: 1px solid #e94f37;
                background-color: #e94f37;
                margin-bottom: 0px;
            }
        }

        .HeaderVide {
            flex: 1;
        }
    }

    .active {
        color: #e94f37;
    }

    .containerSearchBarHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 25vw;
        min-width: 150px;
        gap: 230px;
        z-index: 202;
    }

    .containerResultSearchBar {
        position: absolute;
        top: 6vh;
        background-color: $grey;
        width: 100%;
        max-height: 50vh;
        height: auto;
        box-shadow: 5px 10px 4px 2px rgba(100, 96, 96, 0.44);
        border-radius: 15px;

        .containerBtnSearch {
            display: flex;
            justify-content: space-between;
            border-top: solid 1px $grey;
            background-color: white;
            z-index: 2;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            p {
                &:hover {
                    background-color: #f3f3f3;
                    transition: 0.3s;
                }

                width: 50%;
                padding: 8px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Montserrat",
                sans-serif;
                font-size: 11px;
                color: #1C232B;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                cursor: pointer;

                svg {
                    margin-left: 4px;
                    color: rgba(84, 89, 95, 0.56);
                    width: 12px;
                    height: 21px;
                }

                .trash {
                    margin-top: -2px;
                }
            }

        }
    }
}

.darkHeaderResponsive {
    width: 100%;
    height: 70px;

    h1 {
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }

    .HeaderResponsiveClosed {
        position: fixed;
        z-index: 4;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f9f9f9;
        padding: 25px;
        border-bottom: 1px solid rgb(221, 221, 221);

        .HeaderResponsiveOpenForm {
            position: relative;
            display: flex;
            height: 40px;
            width: 30%;
            min-width: 200px;

            input {
                padding: 5px;
                padding-left: 15px;
                width: 100%;
                min-width: 200px;
                background-color: rgb(236, 236, 236);
                border-radius: 20px;
                font-size: 14px;
                font-family: "Montserrat", sans-serif;
                color: $dark;
            }

            input::placeholder {
                font-family: "Montserrat Alternates", sans-serif;
                color: $brown;
            }

            input:focus {
                outline: none !important;
            }
        }

        svg {
            height: 45px;
            cursor: pointer;
        }
    }

    .HeaderResponsiveOpen {
        width: 100%;
        height: 100%;
        display: flex;

        .close {
            position: fixed;
            height: 100%;
            width: 0px;
            overflow: hidden;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 0;
            background-color: white;
            user-select: none;
            overflow-x: hidden;
            border-radius: 0px 10px 10px 0px;
            transition: 0.3s;
        }

        .OpenContent {
            position: fixed;
            height: 100%;
            width: 280px;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            z-index: 5;
            padding: 10px;
            background-color: white;
            user-select: none;
            overflow-x: hidden;
            box-shadow: 3px 1px 14px 4px rgba(0, 0, 0, 0.274);
            border-radius: 0px 10px 10px 0px;
            transition: 0.3s;
        }

        .otherDiv {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            .HeaderTop {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                margin-bottom: 10px;

                img {
                    height: 50px;

                }

                svg {
                    display: flex;
                    align-items: center;
                    height: 35px;
                    cursor: pointer;
                }
            }

            .utilsBtn {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0 15px;
                justify-content: space-between;
                margin-bottom: 10px;

                svg {
                    height: 23px;
                    color: black;
                    cursor: pointer;
                }

                .theme {
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s;
                    }

                    &:active {
                        transform: scale(0.8);
                        transition: 0.3s;
                    }  
                    transition: 0.3s;
                }

                .search {
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.3s;
                    }

                    &:active {
                        transform: scale(0.8);
                        transition: 0.3s;
                    }

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s;
                    border-radius: 10px;
                    cursor: pointer;

                    svg {
                        fill: black;
                        height: 23px;
                    }
                }
            }

            .menu {
                width: 100%;
                height: auto;
                overflow-y: auto;
                overflow-x: hidden;

                .HeaderResponsiveTitle {
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-family: 'Montserrat', sans-serif;
                        width: 100%;
                        text-align: start;
                        color: rgba(128, 128, 128, 0.651);
                        font-size: 16px;
                        font-weight: bold;
                        padding-left: 10px;
                    }

                    .HeaderResponsiveOpenSubject {
                        font-family: 'Montserrat', sans-serif;
                        width: 90%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 26px;
                        font-weight: bold;
                        cursor: pointer;

                        svg {
                            height: 20px;
                        }
                    }
                }

                .HeaderResponsiveOpenMenu {
                    width: 95%;
                    font-family: 'Poppins', sans-serif;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 10px;
                    color: black;
                    margin-bottom: 20px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                    }

                    li {
                        &:hover {
                            background-color: rgba(128, 128, 128, 0.164);
                        }

                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        height: 45px;
                        padding-left: 15px;
                        border-radius: 15px;
                        overflow: hidden;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: 45px;
                            background-color: #e94f37;
                            color: white;
                            padding: 1px 8px;
                            // width: 29px;
                            // height: 18px;
                            border-radius: 10px;
                            font-size: 10px;
                            letter-spacing: 0.8px;
                        }
                    }

                    svg {
                        height: 18px;
                        margin-right: 20px;
                    }
                }
            }
        }

        .trait {
            content: "";
            width: 95%;
            height: 1px;
            background-color: rgba(128, 128, 128, 0.178);
            margin-bottom: 20px;
        }

        .HeaderResponsiveOpenAccount {
            bottom: 0px;
            width: 90%;
            background-color: white;

            svg {
                &:hover {
                    color: #9337e9;
                }

                cursor: pointer;
                height: 30px;
            }

            .footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: 'Poppins';

                .footerLeft {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    img {
                        height: 40px;
                        width: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    svg {
                        height: 25px;
                    }

                    .footerInfos {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-size: 14px;
                            margin-bottom: 1px;
                            letter-spacing: 0.5px;
                        }

                        p {
                            color: rgba(128, 128, 128, 0.658);
                            font-size: 11px;
                        }
                    }
                }
            }
        }

        .HeaderResponsiveOpenAccountNoConnect {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-weight: bold;
            font-family: "Montserrat Alternates", sans-serif;
            color: white;

            h3 {
                width: 110px;
            }

            svg {
                height: 15px;
                margin-left: 15px;
            }

            .HeaderSeConnecter,
            .HeaderSinscrire {
                &:hover {
                    background-color: #8529db;
                    transition: 0.3s;
                }

                width: 90%;
                min-width: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
                border: 1px solid #9337e9;
                background-color: #9337e9;
                border-radius: 10px;
                color: white;
                cursor: pointer;
                margin-bottom: 10px;
                padding: 10px 0px;
            }

            .HeaderSinscrire {
                &:hover {
                    background-color: #e2341a;
                    transition: 0.3s;
                }

                border: 1px solid #e94f37;
                background-color: #e94f37;
                margin-bottom: 0px;
            }
        }

        .HeaderVide {
            flex: 1;
        }
    }

    .active {
        color: #e94f37;
    }

    .containerSearchBarHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 25vw;
        min-width: 150px;
        gap: 230px;
        z-index: 202;
    }

    .containerResultSearchBar {
        position: absolute;
        top: 6vh;
        background-color: $grey;
        width: 100%;
        max-height: 50vh;
        height: auto;
        box-shadow: 5px 10px 4px 2px rgba(100, 96, 96, 0.44);
        border-radius: 15px;

        .containerBtnSearch {
            display: flex;
            justify-content: space-between;
            border-top: solid 1px $grey;
            background-color: white;
            z-index: 2;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;

            p {
                &:hover {
                    background-color: #f3f3f3;
                    transition: 0.3s;
                }

                width: 50%;
                padding: 8px 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Montserrat",
                sans-serif;
                font-size: 11px;
                color: #1C232B;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                cursor: pointer;

                svg {
                    margin-left: 4px;
                    color: rgba(84, 89, 95, 0.56);
                    width: 12px;
                    height: 21px;
                }

                .trash {
                    margin-top: -2px;
                }
            }

        }
    }
}



@media screen and (max-width: 400px) {
    .containerSearchBarHeader {
        display: none !important;
    }
}