@import "../../styles/utils/var";

.container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 9999 !important;
background-color: transparent;

  .main{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .s{
    position: absolute;
    right: 5%;
    bottom: 6.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border: solid 1px rgba(84, 89, 95, 0.2);
    box-shadow: $shadow;
  }
}