@import "/styles/utils/var";



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;

    svg{
        width: 100% !important;
    }

    img{
        height: 100%;
        object-fit: contain;
        width: 40%;
    }
}



.text{
    text-align: center;
    width: 40%;

    h5{
        font-size: 5vh;
        font-family: "Branch", sans-serif;
        font-weight: bold;
        white-space: pre;
        -webkit-text-stroke-width: 1px;
        span{
            color: #9844AD;
        }
    }
    p{
        font-size: 1.6vh;
        font-family: "Rebond Grotesque", sans-serif;
        color: rgb(84, 89, 95);
    }

    button{
        &:active{
            transform: scale(0.8);
            transition: 0.2s;
        }
        &:hover{
            transition: 0.2s;
            filter: brightness(92%);
        }
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: bold;
        background-color: #e94f37;
        color: white;
        padding: 15px 3vw;
        font-size: 12px;
        border-radius: 25px;
        margin-top: 4vh;
    }
}