@import "styles/utils/var";

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  width: 100%;
  margin-bottom: -20px;


  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    img{
      width: 300px;
    }
  }
  h3{
    font-size: 30px;
    font-family: $branch;
    -webkit-text-stroke-width: 1px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
  }

  p{
    width: 700px;
    font-family: $primaryFont;
    font-size: 15px;
    text-align: center;
    -webkit-text-stroke-width: 0.4px;
  }

  a{
    font-weight: bold;
    color: #9844AD;
    font-size: 14px;
    text-decoration: underline;
    font-family: $primaryFont;
  }

}

.main{
  position: relative;
  width: 70%;
  height: 220px;
  border-radius: 25px;
  img{
    position: absolute;
    width: 320px;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
}

.rContainer{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}




@media screen and (max-width: 900px){
  .container{
    flex-direction: column;

    h3{
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
      font-size: 13px;
      width: 90%;
    }
  }

  .imgContainer{
    width: 250px;
  }

  .rContainer{
    justify-content: center!important;
    align-items: center;
  }
}