@import "styles/utils/var";

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 8vh;
  height: 200px;
  width: 100%;
  border: solid 1px #343d46;
  h3{
    font-size: 4vh;
    font-family: $primaryFont;
    font-weight: bold;
    white-space: pre;
  }

  p{
    font-family: $primaryFont;
    font-size: 15px;
  }


}

.main{
  position: relative;
  width: 70%;
  height: 220px;
  border-radius: 25px;
  img{
    position: absolute;
    width: 320px;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
  }
}