@import "styles/utils/var";

.container {
  ::placeholder {
    font-family: "Montserrat Alternates", sans-serif;
    color: $brown;
  }

  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  input {

    padding-left: 15px;
    width: 100%;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: $dark;

  }

  input:focus {
    outline: none !important;
  }
}