@import "styles/utils/var";

.container{
  ::placeholder{
    font-family: "Montserrat", sans-serif;
    color: $brown;
    font-weight: bold;
  }
  position: relative;
display: flex;
height: 100%;
  width: 100%;
  input{

    padding-left: 15px;
    width: 100%;
    background-color: #e9ebec;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: $dark;

  }

  input:focus{
    outline: none !important;  }
}

