@import "styles/utils/var";

.container{
  ::placeholder{
    font-family: "Montserrat", sans-serif;
    color: rgba(28, 35, 43, 0.34);
  }
  display: flex;
  height: 60px;
  z-index: 10000!important;

  input{

    padding-left: 15px;
    width: 100%;
    background-color: rgba(233, 235, 236, 0.28);
    border: solid 1px $border;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Montserrat",sans-serif;
    color: $brown;

  }

  input:focus{
    outline: none !important;  }
}