.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  span{
    cursor: pointer;
    color: #9844AD;
    margin-left: 5px;
    font-style: initial;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
}

.snippet{
  width: 100%;
  margin: 10px 0px;
  overflow: hidden;
  word-break: break-word;
  font-size: 12px;
  color: rgba(28, 35, 43, 0.87);
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}

.hide{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
