@import "styles/utils/var";
.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  z-index: 1;

  span{
    cursor: pointer;
    color: #9844AD;
    margin-left: 5px;
    font-family: $primaryFont;
    -webkit-text-stroke-width: 0.4px;
    font-size: 11px;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
  }
}

.snippet{
  &:first-letter{
    text-transform: uppercase;
  }
  font-weight: 500;
  width: 100%;
  margin: 10px 0px;
  overflow: hidden;
  word-break: break-word;
  font-size: 15px;
  opacity: 0.6;
  text-align: justify;
  font-family: $primaryFont;
  padding: 0px 1px;
}

.hide{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
