
.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    font-size: 14px;
    color: rgba(28, 35, 43, 0.87);
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
    height: 0;
}

.ProseMirror{
    outline: none!important;
}

.ProseMirror p{
    text-align: justify;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Open sans',sans-serif;
}
