@import "styles/utils/var";

.container {
  position: relative;
  width: 100%;
}

.header{
  position: absolute;
  top: 0;
  z-index: 22;
  width: 100%;
}

.hot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 50px;

  .headerHot {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-family: "Pt Sans", sans-serif;
      font-weight: bold;
      font-size: 18px;
      color: #1C232B;
    }

    h5 {
      font-family: "Pt Sans", sans-serif;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $purpleLight;

      svg {
        margin-left: 5px;
        width: 14px;
      }
    }
  }

  .hotContainer {
    &::-webkit-scrollbar {
      height: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(28, 35, 43, 0.21);
    }

    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin-top: 50px;
  }

  .trendTitle {
    margin-top: 5vh;
    font-family: 'Pt Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    strong {
      color: #9844AD;
    }
  }

  .previewPostListContainer {
    display: flex;
    align-items: center;
    gap: 10vh;
    border-radius: 10px;
    padding: 4vh;

    .sep {
      height: 330px;
      width: 1px;
      background-color: rgba(28, 35, 43, 0.1);
    }
  }
}

@media screen and (max-width: 1150px) {
  .hot {
    margin-top: 80px !important;
  }

  .headerHot {
    padding-right: 2%;
    padding-left: 2%;
    width: 100% !important;
  }

  .hotContainer {
    width: 95% !important;
  }
}

@media screen and (max-width: 850px) {
  .headerHot {
    padding-left: 5%;
    padding-right: 5%;
  }

  .hotContainer {
    margin-top: 40px !important;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    width: 100% !important;
    display: flex !important;
    overflow-x: scroll !important;
    white-space: nowrap;
    height: auto;
  }

  .previewPostListContainer {
    gap: 5vh !important;
  }
}

@media screen and (max-width: 700px) {
  .previewPostListContainer {
    flex-direction: column;
  }

  .sep {
    display: none;
  }
}

@media screen and (max-width: 800px) and (max-height: 500px) and (orientation: landscape){
  .previewPostListContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90% !important;
  }
}


@media screen and (max-width: 450px) {
  .hot {}

  .hotContainer {
    overflow-x: hidden !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 0% !important;
    padding-right: 0% !important;
    height: auto;
  }
}