@import "styles/utils/var";
.container{
  width: 100%;
}

.hot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  .headerHot {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      font-family: "Rebond Grotesque", sans-serif;
      font-size: 20px;
      -webkit-text-stroke-width: 1px;
      stroke-width: 1px;
      -webkit-text-stroke-color: #1C232B;
      stroke: #1C232B;
      color: #1C232B;
      letter-spacing: 1px;
    }
    h5{
      font-family: "Rebond Grotesque", sans-serif;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-items: center;
      text-decoration: underline;
font-size: 14px;
      color: $purpleLight;
      svg{
        margin-left: 5px;
        width: 14px;
      }
    }
  }
    .hotContainer{
      &::-webkit-scrollbar {
        height: 3px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba(28, 35, 43, 0.21);
      }

      display: flex;
      justify-content: space-between;
      width: 1050px;
      margin-top: 50px;
    }

  .trendTitle{
    margin-top: 5vh;
    font-family: 'Rebond Grotesque',sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    strong{
      color: #9844AD;
    }
  }

  .previewPostListContainer{
    display: flex;
    align-items: center;
    gap: 10vh;
    border-radius: 10px;
    padding: 4vh;

    .sep{
      height: 330px;
      width: 1px;
      background-color: rgba(28, 35, 43, 0.1);
    }
  }
}

@media screen and (max-width: 1150px){
  .hot{
    margin-top: 80px!important;
  }
  .headerHot{
    padding-right: 2%;
    width: 100% !important;
  }

  .hotContainer{
    width: 95% !important;
  }
}


@media screen and (max-width: 850px){
  .headerHot{
    padding-left: 5%;
    padding-right: 5%;
  }
  .hotContainer{
    margin-top: 40px!important;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-top: 2%;
    width: 100% !important;
    display: flex!important;
    overflow-x: scroll!important;
    white-space: nowrap;
    height: auto;
  }

  .previewPostListContainer{
    gap: 5vh!important;
  }
}

@media screen and (max-width: 700px){
  .previewPostListContainer{
    flex-direction: column;
  }
}

@media screen and (max-width: 450px){
  .hot{
  }
  .hotContainer{
    overflow-x: hidden!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 0% !important;
    padding-right: 0% !important;
    height: auto;
  }
}